<%= link_to new_order_path(sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-sm btn-primary btn-icon-text btn-rounded mb-3" do %>
  <i class="far fa-plus-circle btn-icon-prepend"></i>Adauga comanda
<% end %>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <p class="card-title">Comenzi</p>
          </div>
          <div class="col-md-6">
            <%= render 'layouts/date_form' %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="table-responsive">
              <table id="ordersTable" class="display expandable-table" style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th><%# 0 %>
                    <th>Nume proiect</th><%# 1 %>
                    <th>Status</th><%# 2 %>
                    <th>Categorie</th><%# 3 %>
                    <th>Denumire/Tip/Nuanta</th><%# 4 %>
                    <th>Cant. necesara</th><%# 5 %>
                    <th>UM</th><%# 6 %>
                    <th>Cote</th><%# 7 %>
                    <th>Furnizor</th><%# 8 %>
                    <th>Cant. comandata</th><%# 9 %>
                    <th style="display: none">User pic</th><%# 10 %>
                    <th style="display: none">Utilizator ultima modificare</th><%# 11 %>
                    <th style="display: none">Data ultima modificare</th><%# 12 %>
                    <th style="display: none">Data si ora ultima modificare</th><%# 13 %>
                    <th style="display: none">Vezi proiect</th><%# 14 %>
                    <th style="display: none">Data inserarii</th><%# 15 %>
                    <th style="display: none">Data comanda</th><%# 16 %>
                    <th style="display: none">Data livrare</th><%# 17 %>
                    <th style="display: none">Observatii</th><%# 18 %>
                    <th style="display: none">Observatii short</th><%# 19 %>
                    <th style="display: none">Muta</th><%# 20 %>
                    <th style="display: none">Modifica</th><%# 21 %>
                    <th style="display: none">Sterge</th><%# 22 %>
                    <th></th><%# 23 %>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.each do |order| %>
                    <% project = order.project %>
                    <tr>
                      <td><%= order.id %></td><%# 0 %>
                      <td><%= project.name %></td><%# 1 %>
                      <td><%= order.status.titleize %></td><%# 2 %>
                      <td><%= order.category %></td><%# 3 %>
                      <td><%= order.name_type_color %></td><%# 4 %>
                      <td><%= order.needed_quantity %></td><%# 5 %>
                      <td><%= order.unit %></td><%# 6 %>
                      <td><%= order.cote %></td><%# 7 %>
                      <td><%= order.supplier_id ? @suppliers.find(order.supplier_id).name : "" %></td><%# 8 %>
                      <td><%= order.ordered_quantity %></td><%# 9 %>

                      <td style="display: none"><%= image_tag user_profile_picture(@users.find(order.user_id), 100) , alt: "profile" %></td><%# 10 %>
                      <td style="display: none"><%= @users.find(order.user_id).username %></td><%# 11 %>
                      <td style="display: none"><%= order.updated_at.strftime('%d/%m/%Y') %></td><%# 12 %>
                      <td style="display: none"><%= order.updated_at.strftime('%d/%m/%Y<br>(ora: %H:%M)') %></td><%# 13 %>
                      <td style="display: none"><%= link_to 'Vezi proiect', project, class: "btn btn-primary" %></td><%# 14 %>
                      <td style="display: none"><%= order.created_at.strftime('%d/%m/%Y ') %></td><%# 15 %>
                      <td style="display: none"><%= order.order_date %></td><%# 16 %>
                      <td style="display: none"><%= order.delivery_date %></td><%# 17 %>
                      <td style="display: none"><%= order.obs %></td><%# 18 %>
                      <td style="display: none"><%= excerpt(order.obs, "", radius: 200) %></td><%# 19 %>
                      <td style="display: none"><%= if order.ordered_quantity>0 then  link_to 'Muta', move_order_order_path(order, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-outline-primary btn-fw" end %></td><%# 20 %>
                      <td style="display: none"><%= link_to 'Modifica', edit_order_path(order, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-outline-primary btn-fw" %></td><%# 21 %>
                      <td style="display: none"><%= link_to 'Sterge', order_path(order, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), method: :delete, data: { confirm: 'Esti sigur ca vrei sa stergi comanda?' }, class: "btn btn-outline-danger btn-fw" %></td><%# 22 %>
                      <td class="details-control"></td><%# 23 %>
                    </tr>
                  <% end %>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p id="import_btn" style="display: none">
  <%= link_to new_order_import_path, class: "btn btn-warning text-light btn-sm" do %>
    <i class="fas fa-upload"></i> Importa necesar materiale
  <% end %>
</p>

<script>
  $(document).ready(function(){
    function format ( d, user_pic, user, last_change, show_project_btn, created_at, order_date, order_delivery_date, obs, move_btn, change_btn, delete_btn ) {
      // `d` is the original data object for the row
      return '<table cellpadding="5" cellspacing="0" border="0" style="width:100%;">'+
          '<tr class="expanded-row">'+
              '<td colspan="8" class="row-bg">'+
                '<div>'+
                  '<div class="d-flex justify-content-between">'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-3 d-flex">'+
                        user_pic+
                        '<div>'+
                          '<p>Ultima modificare</p>'+
                          '<h6>'+user+'</h6>'+
                        '</div>'+
                      '</div>'+
                      '<div class="me-2 d-flex">'+
                        '<div class="highlighted-white"> </div>'+
                        '<div>'+
                          '<p>Data ultimei modificari</p>'+
                          '<h6>'+last_change+'</h6>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4 text-center">'+
                        show_project_btn+
                      '</div>'+
                      '<div class="me-2 text-center">'+
                        '<p>Data inserarii</p>'+
                        '<h6>'+created_at+'</h6>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        '<p>Data comanda</p>'+
                        '<h6>'+order_date+'</h6>'+
                      '</div>'+
                      '<div class="me-2">'+
                        '<p>Data livrare</p>'+
                        '<h6>'+order_delivery_date+'</h6>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell" style="min-width: 15vw;max-width: 15vw">'+
                      '<div class="me-2 mb-4">'+
                        '<h6 class="text-center">Observatii</h6>'+
                        obs+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      (move_btn!= "" ? '<div class="me-2 mb-4 text-center">' : '')+
                        move_btn+
                      (move_btn!= "" ? '</div>' : '')+ 
                      '<div class="me-2 mb-4 text-center">'+
                        change_btn+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        delete_btn+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</td>'+
          '</tr>'+
      '</table>';
    };
    let params = new URLSearchParams(location.search)
    let date = new Date().toISOString()
    var table = $("#ordersTable").DataTable({
      order: [[0, 'asc']],
      paging:   true,
      ordering: true,
      info:     false,
      filter: true,
      deferRender: true,
      stateSave: true, 
      dom: '<"top"<"d-flex justify-content-between"<"d-flex"B<"import_btn">>f>>rt<"bottom"><"d-flex justify-content-between align-items-center"lp><"clear">',
      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "Toate"] ],
      pagingType: 'full_numbers',
      scrollY:     460,
      scroller:    true,
      colReorder: false,
      buttons: [
        { extend: 'excelHtml5', 
          text: '<i class="far fa-file-excel"></i> &nbsp;Exporta in excel',
          className: 'btn-success text-light btn-sm',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 16, 17 ,18]
          },
          sheetName: "Comenzi",
          title: "Comenzi inserate in perioada: " + (params.get('sm')!=null ? params.get('sm') + "/" + params.get('sy') + " - " + params.get('em') + "/" + params.get('ey') : "1/" + date.slice(0, 4) + " - 12/" + date.slice(0, 4)),
          filename: "Comenzi - " + date.slice(0, 10),
          autoFilter: true
        }, 'spacer',
        {
          extend: 'searchPanes',
          config: {
            cascadePanes: true 
          },
          className: 'btn-info text-light btn-sm' 
        }, 'spacer'
      ],
      columnDefs: [{
        orderable: true,
        className: 'select-checkbox',
        targets: 0,
        searchable: false,
        searchPanes: {
          show: false
        },
      },
      {
        searchable: true,
        class: 'details-control',
        targets: [1,2,3,4,7,8],
        searchPanes: {
          show: true,
          layout: `columns-2`
        },
      },
      {
        searchable: false,
        searchPanes: {
          show: false
        },
        class: 'details-control',
        targets: '_all'
      },
      {
        orderable: false,
        targets: -1
      }
      ],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      language: {
        processing:     "Se proceseaza...",
        search:         "Cauta&nbsp;:",
        lengthMenu:    "Afiseaza cate _MENU_ comenzi",
        info:           "Se afiseaza comenzile de la _START_ pana la _END_ din _TOTAL_ comenzi",
        infoEmpty:      "Se afiseaza comenzile de la 0 pana la 0 din 0 comenzi",
        infoFiltered:   "(filtrate din _MAX_ comenzi in total)",
        infoPostFix:    "",
        loadingRecords: "Se incarca datele...",
        zeroRecords:    "Nici o comanda de afisat",
        emptyTable:     "Nu exista comenzi in baza de date",
        paginate: {
            first:      "Prima pagina",
            previous:   "Pagina anterioara",
            next:       "Pagina urmatoare",
            last:       "Ultima pagina"
        },
        aria: {
            sortAscending:  ": activati pentru a sorta coloana în ordine crescatoare",
            sortDescending: ": activati pentru a sorta coloana în ordine descrescatoare"
        },
        select: {
          rows: {
            _: "Ai selectat %d comenzi",
            1: "Ai selectat o comanda"
          }
        },
        searchPanes: {
          clearMessage: 'Sterge filtre',
          showMessage: 'Arata toate',
          collapseMessage: 'Ascunde toate',
          collapse: {0: '<i class="fal fa-filter"></i> &nbsp;Filtre', _: '<i class="fas fa-filter"></i> &nbsp;Filtre (%d)'},
          title: {
            _: 'Filtre Selectate - %d',
            0: 'Nici un filtru selectat',
            1: 'Un filtru selectat'
          }
        }
      }
    });
    $('.dt-buttons').removeClass('btn-group');
    $('div.import_btn').html($('#import_btn').html());
    $('#ordersTable tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row( tr );
      if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
      }
      else {
          // Open this row
          row.child( format(row.data(),tr.find("td:eq(10)").html(),tr.find("td:eq(11)").text(),tr.find("td:eq(13)").text(),tr.find("td:eq(14)").html(),tr.find("td:eq(15)").text(),tr.find("td:eq(16)").text(),tr.find("td:eq(17)").text(),tr.find("td:eq(19)").text(),tr.find("td:eq(20)").html(),tr.find("td:eq(21)").html(),tr.find("td:eq(22)").html()) ).show();
          tr.addClass('shown');
      }
    } );
  });
</script>