<h1>Comenzi</h1>
<%= render 'layouts/date_form' %>
<br>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Proiect</th>
      <th>Status</th>
      <th>Categorie</th>
      <th>Denumire/Tip/Nuanta</th>
      <th>Cant. necesara</th>
      <th>UM</th>
      <th>Cote</th>
      <th>brother_id</th>
      <th>Cant. comandata</th>
      <th>Furnizor</th>
      <th>Contact furnizor</th>
      <th>Data comanda</th>
      <th>Data livrare</th>
      <th>Observatii</th>
      <th>Ultima modificare</th>
      <th>Data ultimei modificari</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% project = order.project %>
      <tr>
        <td><%= order.id %></td>
        <td><%= project.name %></td>
        <td><%= order.status.titleize %></td>
        <td><%= order.category %></td>
        <td><%= order.name_type_color %></td>
        <td><%= order.needed_quantity %></td>
        <td><%= order.unit %></td>
        <td><%= order.cote %></td>
        <td><%= order.brother_id %></td>
        <td><%= order.ordered_quantity %></td>
        <td><%= order.supplier_id ? @suppliers.find(order.supplier_id).name : "" %></td>
        <td><%= order.supplier_contact %></td>
        <td><%= order.order_date %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.obs %></td>
        <td><%= @users.find(order.user_id).username %></td>
        <td><%= order.updated_at.strftime('%d/%m/%Y (ora: %H:%M)') %></td>
        <td><%= link_to 'Vezi proiect', project %></td>
        <td><%= if order.ordered_quantity>0 then  link_to 'Muta', move_order_order_path(order, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year) end %></td>
        <td><%= link_to 'Modifica', edit_order_path(order, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year) %></td>
        <td><%= link_to 'Sterge', order_path(order, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), method: :delete, data: { confirm: 'Esti sigur ca vrei sa stergi comanda?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adauga comanda', new_order_path(sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year) %>
