<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nume" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :hire_date, "Data angajarii" %>
    <%= form.date_field :hire_date %>
  </div>

  <div class="field">
    <%= form.label :dismiss_date, "Data incheierii" %>
    <%= form.date_field :dismiss_date %>
  </div>

  <% if !@employee.name %>
    <%= form.fields_for :employee_salaries do |f| %>

      <div class="field">
        <%= f.label :net_salary, "Salariu net" %>
        <%= f.number_field :net_salary, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :salary_tax, "Taxe de achitat" %>
        <%= f.number_field :salary_tax, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :salary_tax_due_date, "Data scadenta taxe" %>
        <%= f.date_field :salary_tax_due_date %>
      </div>

      <div class="field">
        <%= f.label :meal_vouchers, "Bonuri de masa" %>
        <%= f.number_field :meal_vouchers, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :gift_vouchers, "Bonuri cadou" %>
        <%= f.number_field :gift_vouchers, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :overtime, "Ore suplimentare" %>
        <%= f.number_field :overtime, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :extra_salary, "Salariu extra" %>
        <%= f.number_field :extra_salary, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :date, "Data" %>
        <%= f.date_field :date %>
      </div>

    <% end %>
  <% elsif @employee_salary %>
    <%= form.fields_for :employee_salaries, @employee_salary do |f| %>

      <div class="field">
        <%= f.label :net_salary, "Salariu net" %>
        <%= f.number_field :net_salary, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :salary_tax, "Taxe de achitat" %>
        <%= f.number_field :salary_tax, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :salary_tax_due_date, "Data scadenta taxe" %>
        <%= f.date_field :salary_tax_due_date %>
      </div>

      <div class="field">
        <%= f.label :meal_vouchers, "Bonuri de masa" %>
        <%= f.number_field :meal_vouchers, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :gift_vouchers, "Bonuri cadou" %>
        <%= f.number_field :gift_vouchers, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :overtime, "Ore suplimentare" %>
        <%= f.number_field :overtime, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :extra_salary, "Salariu extra" %>
        <%= f.number_field :extra_salary, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :date, "Data" %>
        <%= f.date_field :date %>
      </div>
    <% end %>
  <% end %>
  <%= hidden_field_tag(:sm, @start_month) %>
  <%= hidden_field_tag(:sy, @start_year) %>
  <%= hidden_field_tag(:em, @end_month) %>
  <%= hidden_field_tag(:ey, @end_year) %>
  <%= hidden_field_tag(:current_tab, params[:current_tab]) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
