<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nume furnizor</th>
      <% extra_years = 0 %>
      <%# List all months and years %>
        <% @months.times do |month| %>
          <th>
            <% if @start_month + month - extra_years * 12 > 12 %> 
              <% extra_years += 1 %>
            <% end %>
            <%= ((@start_month + month) - (extra_years * 12)).to_s + " / " + (@start_year + extra_years).to_s %>
          </th>
        <% end %>
      <%# End List all months and years %>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% total_supplier_invoce_payments = 0 %>
    <% @total_per_months = [] %>
    <% @months.times do |month| %>
      <% @total_per_months[month] = 0 %>
    <% end %>
    <% case of_what
    when "issued_supplier_invoices"
      @current_tab = "fe"
    when "to_be_payed_supplier_invoices"
      @current_tab = "fp"
    when "payed_supplier_invoices"
      @current_tab = "fa"
    when "unpaid_supplier_invoices"
      @current_tab = "fr"
    else
      ""
    end %>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.id %></td>
        <td><%= link_to edit_supplier_path(supplier, current_tab: @current_tab,start_month: params[:start_month], start_year: params[:start_year], end_month: params[:end_month], end_year: params[:end_year]), {style: "text-decoration:none"} do %><div><%= supplier.name %>&nbsp</div><% end %></td>

        <% if of_what=="issued_supplier_invoices" %>
          <% @supplier_invoices[supplier.id] = supplier.supplier_invoices.created_between(Date.parse(@start_year.to_s+'-'+@start_month.to_s+'-01'),Date.parse(@end_year.to_s+'-'+@end_month.to_s+'-01').next_month-1.day).order("date ASC") %>
        <% end %>
        <% supplier_invoices = @supplier_invoices[supplier.id] %>
        <% extra_years = 0 %>
        <% @total_per_supplier = 0 %>
        <% @months.times do |month| %>
          <td>
            <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %> 
            <% total = 0 %>
              <% supplier_invoices.each do |supplier_invoice| %>
                <% if of_what == "issued_supplier_invoices" %>
                  <% if !supplier_invoice.nil? && supplier_invoice.date.strftime('%-m').to_i == (@start_month + month) - (extra_years * 12) && supplier_invoice.date.strftime('%Y').to_i == (@start_year + extra_years) %>
                    <% total += supplier_invoice.value %>
                  <% end %>
                <% elsif of_what == "to_be_payed_supplier_invoices" %>
                  <% if !supplier_invoice.nil? && supplier_invoice.due_date.strftime('%-m').to_i == (@start_month + month) - (extra_years * 12) && supplier_invoice.due_date.strftime('%Y').to_i == (@start_year + extra_years) %>
                    <% total += supplier_invoice.value %>
                  <% end %>
                <% elsif of_what == "payed_supplier_invoices" %>
                  <% supplier_invoice.supplier_invoice_payments.each do |supplier_invoice_payment| %>
                    <% if !supplier_invoice_payment.nil? && supplier_invoice_payment.date.strftime('%-m').to_i == (@start_month + month) - (extra_years * 12) && supplier_invoice_payment.date.strftime('%Y').to_i == (@start_year + extra_years) %>
                      <% total += supplier_invoice_payment.paid_amount %>
                    <% end %>
                  <% end %> 
                <% elsif of_what == "unpaid_supplier_invoices" %>
                  <% if !supplier_invoice.nil? && supplier_invoice.due_date.strftime('%-m').to_i == (@start_month + month) - (extra_years * 12) && supplier_invoice.due_date.strftime('%Y').to_i == (@start_year + extra_years) %>
                    <% if supplier_invoice.due_date < Date.today() %>
                      <% total += supplier_invoice.value - supplier_invoice.supplier_invoice_payments.map(&:paid_amount).sum %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %> 
              <%= link_to edit_supplier_path(supplier, current_tab: @current_tab, from_where: of_what,current_month: (@start_month + month) - (extra_years * 12), current_year: (@start_year + extra_years) ,start_month: @start_month, start_year: @start_year, end_month: @end_month, end_year: @end_year), {style: "text-decoration:none"} do %> 
                <div><%= total>0 ? total : "" %>&nbsp</div>
                <% @total_per_supplier += total %>
                <% @total_per_months[month] += total %>
              <% end %>
          </td>
        <% end %>
        <td>
          <%= @total_per_supplier %>
        </td>
        <!-- <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>-->
        <td><%= link_to 'Sterge', supplier_url(supplier, current_tab: @current_tab, start_month: params[:start_month], start_year: params[:start_year], end_month: params[:end_month], end_year: params[:end_year]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
        <tr>
          <th></th>
          <th>Total</th>
          <%# Total per month %>
            <% @months.times do |month| %>
              <th>         
                  <%= @total_per_months[month] %>
              </th>
            <% end %>
          <%# End Total per month %>

          <%# GrandTotal of totals %>
            <th><%= total_supplier_invoce_payments %></th>
          <%# End GrandTotal of totals %>

          <th colspan="3"></th>
        </tr>
      </tfoot>
</table>