<h1>Furnizori</h1>
<%= render 'layouts/date_form' %>
<br>
<ul class="nav nav-tabs" id="suppliers" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "active" if @current_tab=="fe" %>" id="issued-supplier-invoices-tab" data-bs-toggle="tab" data-bs-target="#issued-supplier-invoices" type="button" role="tab" aria-controls="issued-supplier-invoices" aria-selected="true">Facturi emise</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "active" if @current_tab=="fp" %>" id="to-be-payed-supplier-invoices-tab" data-bs-toggle="tab" data-bs-target="#to-be-payed-supplier-invoices" type="button" role="tab" aria-controls="to-be-payed-supplier-invoices" aria-selected="false">Facturi de plata</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "active" if @current_tab=="fa" %>" id="payed-supplier-invoices-tab" data-bs-toggle="tab" data-bs-target="#payed-supplier-invoices" type="button" role="tab" aria-controls="payed-supplier-invoices" aria-selected="false">Facturi achitate</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <%= "active" if @current_tab=="fr" %>" id="unpaid-supplier-invoices-tab" data-bs-toggle="tab" data-bs-target="#unpaid-supplier-invoices" type="button" role="tab" aria-controls="unpaid-supplier-invoices" aria-selected="false">Facturi restante</button>
  </li>
</ul>
<div class="tab-content" id="employeesContent">
  <div class="tab-pane fade <%= "show active" if params[:current_tab]=="fe" %>" id="issued-supplier-invoices" role="tabpanel" aria-labelledby="issued-supplier-invoices-tab">
    <%= render 'table', of_what: "issued_supplier_invoices" %>
  </div>
  <div class="tab-pane fade <%= "show active" if params[:current_tab]=="fp" %>" id="to-be-payed-supplier-invoices" role="tabpanel" aria-labelledby="to-be-payed-supplier-invoices-tab">
    <%= render 'table', of_what: "to_be_payed_supplier_invoices" %>
  </div>
  <div class="tab-pane fade <%= "show active" if params[:current_tab]=="fa" %>" id="payed-supplier-invoices" role="tabpanel" aria-labelledby="payed-supplier-invoices-tab">
    <%= render 'table', of_what: "payed_supplier_invoices" %>
  </div>
  <div class="tab-pane fade <%= "show active" if params[:current_tab]=="fr" %>" id="unpaid-supplier-invoices" role="tabpanel" aria-labelledby="unpaid-supplier-invoices-tab">
    <%= render 'table', of_what: "unpaid_supplier_invoices" %>
  </div>
</div>

<br>

<%= link_to 'Adauga furnizor', new_supplier_path(new: true, current_tab: "fe", sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year) %>