<%= form_with(model: invoice) do |form| %>
  
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :project_id, "Proiect" %>
    <%= form.select :project_id, Project.all.map {|c| [c.name, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :description, "Descriere" %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :category, "Categorie" %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :supplier, "Furnizor" %>
    <%= form.text_field :supplier %>
  </div>

  <div class="field">
    <%= form.label :invoice_number, "Nr. factura" %>
    <%= form.text_field :invoice_number %>
  </div>

  <div class="field">
    <%= form.label :invoice_date, "Data factura" %>
    <%= form.date_field :invoice_date %>
  </div>
  
  <div class="field">
    <%= form.label :invoice_value_without_vat, "Valoare factura fara TVA" %>
    <%= form.number_field :invoice_value_without_vat, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :invoice_value_for_project_without_vat, "Valoare factura pt proiect fara TVA" %>
    <%= form.number_field :invoice_value_for_project_without_vat, step: 0.01%>
  </div>

  <div class="field">
    <%= form.label :obs, "Observatii" %>
    <%= form.text_area :obs %>
  </div>
  <%= hidden_field_tag(:sm, @start_month) %>
  <%= hidden_field_tag(:sy, @start_year) %>
  <%= hidden_field_tag(:em, @end_month) %>
  <%= hidden_field_tag(:ey, @end_year) %>

  <div class="actions">
    <%= form.submit %>
    <%= link_to "Renunta", orders_path(sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year) %>
  </div>
<% end %>
