
<%= link_to new_invoice_path(sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-sm btn-primary btn-icon-text btn-rounded" do %>
  <i class="far fa-plus-circle btn-icon-prepend"></i>Adauga factura
<% end %>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Facturi</p>
        <%= render 'layouts/date_form' %>
        <div class="row mt-3">
          <div class="col-12">
            <div class="table-responsive">
              <table id="invoicesTable" class="display expandable-table" style="width:100%">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nume proiect</th>
                    <th>Descriere</th>
                    <th>Categorie</th>
                    <th>Nume furnizor</th>
                    <th>Nr. factura</th>
                    <th>Data factura</th>
                    <th>Cod factura</th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th style="display: none"></th> 
                    <th></th> 
                  </tr>
                </thead>
                <tbody>
                  <% @invoices.each do |invoice| %>
                    <% project = invoice.project %>
                    <tr>
                      <td><%= invoice.id %></td>
                      <td><%= project.name %></td>
                      <td><%= invoice.description %></td>
                      <td><%= invoice.category %></td>
                      <td><%= invoice.supplier %></td>
                      <td><%= invoice.invoice_number %></td>
                      <td><%= invoice.invoice_date %></td>
                      <td><%= invoice.code %></td>

                      <td style="display: none"><%= image_tag user_profile_picture(@users.find(invoice.user_id), 100) , alt: "profile" %></td>
                      <td style="display: none"><%= @users.find(invoice.user_id).username %></td>
                      <td style="display: none"><%= invoice.updated_at.strftime('%d/%m/%Y</br>(ora: %H:%M)') %></td>
                      <td style="display: none"><%= link_to 'Vezi proiect', project, class: "btn btn-primary" %></td>
                      <td style="display: none"><%= invoice.created_at.strftime('%d/%m/%Y') %></td>
                      <td style="display: none"><%= invoice.invoice_value_without_vat %></td>
                      <td style="display: none"><%= invoice.invoice_value_for_project_without_vat %></td>
                      <td style="display: none"><%= invoice.obs %></td>
                      <td style="display: none"><%= link_to 'Modifica', edit_invoice_path(invoice, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-outline-primary btn-fw" %></td>
                      <td style="display: none"><%= link_to 'Sterge', invoice_path(invoice, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), method: :delete, data: { confirm: 'Esti sigur ca vrei sa stergi factura?' }, class: "btn btn-outline-danger btn-fw" %></td>
                      <td class="details-control"></td>
                    </tr>
                  <% end %>                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


<script>
  $(document).ready(function(){
    function format ( d, user_pic, user, last_change, show_project_btn, created_at, invoice_value_without_vat, invoice_value_for_project_without_vat, obs, change_btn, delete_btn ) {
      // `d` is the original data object for the row
      return '<table cellpadding="5" cellspacing="0" border="0" style="width:100%;">'+
          '<tr class="expanded-row">'+
              '<td colspan="8" class="row-bg">'+
                '<div>'+
                  '<div class="d-flex justify-content-between">'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-3 d-flex">'+
                        user_pic+
                        '<div>'+
                          '<p>Ultima modificare</p>'+
                          '<h6>'+user+'</h6>'+
                        '</div>'+
                      '</div>'+
                      '<div class="me-2 d-flex">'+
                        '<div class="highlighted-white"> </div>'+
                        '<div>'+
                          '<p>Data ultimei modificari</p>'+
                          '<h6>'+last_change+'</h6>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4 text-center">'+
                        show_project_btn+
                      '</div>'+
                      '<div class="me-2 text-center">'+
                        '<p>Data inserarii</p>'+
                        '<h6>'+created_at+'</h6>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        '<p>Valoare factura</p>'+
                        '<h6>'+invoice_value_without_vat+'</h6>'+
                      '</div>'+
                      '<div class="me-2">'+
                        '<p>Valoare pt proiect</p>'+
                        '<h6>'+invoice_value_for_project_without_vat+'</h6>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell" style="min-width: 15vw;max-width: 15vw">'+
                      '<div class="me-2 mb-4">'+
                        '<h6 class="text-center">Observatii</h6>'+
                        obs+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        change_btn+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        delete_btn+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</td>'+
          '</tr>'+
      '</table>';
    };
    var table = $("#invoicesTable").DataTable({
      order: [[0, 'asc']],
      paging:   true,
      ordering: true,
      info:     false,
      filter: true,
      stateSave: false,
      dom: '<"top"<"d-flex justify-content-between"Bf>>rt<"bottom"><"d-flex justify-content-between align-items-center"lp><"clear">',
      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "Toate"] ],
      pagingType: 'full_numbers',
      scrollY:     350,
      scroller:    true,
      colReorder: true,
      buttons: [
        { extend: 'excelHtml5', 
          text: '<i class="far fa-file-excel"></i> &nbsp;Exporta in excel',
          className: 'btn-success text-light btn-sm' 
        }, 'spacer',
        {
          extend: 'searchPanes',
          config: {
            cascadePanes: true 
          },
          className: 'btn-info text-light btn-sm' 
        }
      ],
      columnDefs: [{
        orderable: true,
        className: 'select-checkbox',
        targets: 0,
        searchable: false,
        searchPanes: {
          show: false
        },
      },
      {
        searchable: true,
        targets: [1,2,3,4,5,6,7],
        searchPanes: {
          show: true
        },
      },
      {
        searchable: false,
        searchPanes: {
          show: false
        },
        targets: [8,9,10,11,12,13,14,15,16,17,18]
      },
      {
        orderable: false,
        targets: 18
      }
      ],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      language: {
        processing:     "Se proceseaza...",
        search:         "Cauta&nbsp;:",
        lengthMenu:    "Afiseaza cate _MENU_ comenzi",
        info:           "Se afiseaza comenzile de la _START_ pana la _END_ din _TOTAL_ comenzi",
        infoEmpty:      "Se afiseaza comenzile de la 0 pana la 0 din 0 comenzi",
        infoFiltered:   "(filtrate din _MAX_ comenzi in total)",
        infoPostFix:    "",
        loadingRecords: "Se incarca datele...",
        zeroRecords:    "Nici o comanda de afisat",
        emptyTable:     "Nu exista comenzi in baza de date",
        paginate: {
            first:      "Prima pagina",
            previous:   "Pagina anterioara",
            next:       "Pagina urmatoare",
            last:       "Ultima pagina"
        },
        aria: {
            sortAscending:  ": activati pentru a sorta coloana în ordine crescatoare",
            sortDescending: ": activati pentru a sorta coloana în ordine descrescatoare"
        },
        select: {
          rows: {
            _: "Ai selectat %d comenzi",
            1: "Ai selectat o comanda"
          }
        },
        searchPanes: {
          clearMessage: 'Sterge filtre',
          showAll: 'Arata',
          collapse: {0: '<i class="fal fa-filter"></i> &nbsp;Filtre', _: '<i class="fas fa-filter"></i> &nbsp;Filtre (%d)'},
          title: {
            _: 'Filtre Selectate - %d',
            0: 'Nici un filtru selectat',
            1: 'Un filtru selectat'
          }
        }
      }
    });
    $('.dt-buttons').removeClass('btn-group');
    $('#invoicesTable tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row( tr );
      if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
      }
      else {
          // Open this row
          row.child( format(row.data(),tr.find("td:eq(8)").html(),tr.find("td:eq(9)").text(),tr.find("td:eq(10)").text(),tr.find("td:eq(11)").html(),tr.find("td:eq(12)").text(),tr.find("td:eq(13)").text(),tr.find("td:eq(14)").text(),tr.find("td:eq(15)").text(),tr.find("td:eq(16)").html(),tr.find("td:eq(17)").html()) ).show();
          tr.addClass('shown');
      }
    } );
  });
</script>