<%= form_with(model: january_sold) do |form| %>
  <% years = (2022..Date.today().strftime("%Y").to_i+10).to_a %>
  <% if january_sold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(january_sold.errors.count, "error") %> prohibited this january_sold from being saved:</h2>

      <ul>
        <% january_sold.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value, "Sold Ianuarie" %>
    <%= form.number_field :value, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :year, "Anul" %>
    <%= form.select :year, options_for_select(years, params[:year]) %>
  </div>
  <%= hidden_field_tag(:sm, @start_month) %>
  <%= hidden_field_tag(:sy, @start_year) %>
  <%= hidden_field_tag(:em, @end_month) %>
  <%= hidden_field_tag(:ey, @end_year) %>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  
  <% if january_sold.id %>
    <%= link_to 'Sterge sold ianuarie', january_sold_url(id: january_sold.id, jsid: "", year: Date.today().strftime("%Y"), sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), method: :delete, data: { confirm: 'Are you sure?' } %>   
  <% end %>
  
<% end %>
