<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number_plate, "Numar inmatriculare" %>
    <%= form.text_field :number_plate %>
  </div>

  <div class="field">
    <%= form.label :rca_expiry_date, "Data expirare Rca" %>
    <%= form.date_field :rca_expiry_date %>
  </div>

  <div class="field">
    <%= form.label :rov_expiry_date, "Data expirare Rovinieta" %>
    <%= form.date_field :rov_expiry_date %>
  </div>

  <div class="field">
    <%= form.label :itp_expiry_date, "Data expirare Itp" %>
    <%= form.date_field :itp_expiry_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <% if car.id %>
      <%= link_to "Anuleaza", cars_path %>
      <%= link_to 'Sterge masina', car, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
