<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number_plate, "Numar inmatriculare" %>
    <%= form.text_field :number_plate %>
  </div>

  <div class="field">
    <%= form.label :rca_expiry_date, "Data expirare Rca" %>
    <%= form.date_field :rca_expiry_date %>
  </div>

  <div class="field">
    <%= form.label :rov_expiry_date, "Data expirare Rovinieta" %>
    <%= form.date_field :rov_expiry_date %>
  </div>

  <div class="field">
    <%= form.label :itp_expiry_date, "Data expirare Itp" %>
    <%= form.date_field :itp_expiry_date %>
  </div>
  <%= hidden_field_tag(:sm, @start_month) %>
  <%= hidden_field_tag(:sy, @start_year) %>
  <%= hidden_field_tag(:em, @end_month) %>
  <%= hidden_field_tag(:ey, @end_year) %>

  <div class="actions">
    <%= form.submit %>
    <% if car.id %>
      <%= link_to "Renunta", cars_path(sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year) %>
      <%= link_to 'Sterge masina', car_path(car, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
