<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number_plate %>
    <%= form.text_field :number_plate %>
  </div>

  <div class="field">
    <%= form.label :rca_expiry_date %>
    <%= form.date_select :rca_expiry_date %>
  </div>

  <div class="field">
    <%= form.label :rov_expiry_date %>
    <%= form.date_select :rov_expiry_date %>
  </div>

  <div class="field">
    <%= form.label :itp_expiry_date %>
    <%= form.date_select :itp_expiry_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
