<h1>Flota auto</h1>
<%= render 'layouts/date_form' %>
<br>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Numar inmatriculare</th>
      <th>Data expirare Rca</th>
      <th>Data expirare Rovinieta</th>
      <th>Data expirare Itp</th>

    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %> 
      <tr>
          <td><%= car.id %></td>
          <td>
            <%= link_to cars_path(id: car.id,sm: @start_month, sy: @start_year, em: @end_month, ey:@end_year) do %> 
              <div>
                <%= car.number_plate %>&nbsp
              </div>
            <% end %>
          </td>
          <td><%= car.rca_expiry_date %></td>
          <td><%= car.rov_expiry_date %></td>
          <td><%= car.itp_expiry_date %></td>
          <!--<td><%= link_to 'Show', car %></td>
          <td><%= link_to 'Edit', edit_car_path(car) %></td>-->

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', car: @car %>
