<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :name, "Nume" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_date, "Data inceput" %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date, "Data finalizare" %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :value, "Valoare" %>
    <%= form.number_field :value, step: 0.01  %>
  </div>

  <div class="field">
    <%= form.label :obs, "Observatii" %>
    <%= form.text_area :obs %>
  </div>

  <div class="field">
    <%= form.label :stoc, "Este stoc?" %>
    <%= form.check_box :stoc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
