<%= form_with(model: @project, url: update_project_costs_project_path(@project), method: "patch") do |form| %>
  <%= form.hidden_field :project, value: @project %>
  <div class="field">
    <%= form.fields_for :project_costs do |project_cost| %>
      <%= render 'project_cost_fields', f: project_cost %>
    <% end %>
  </div>
  <div class="field">
    <div class="">
      <%= link_to_add_association "Adauga cost", form, :project_costs %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>