<p id="notice"><%= notice %></p>

<h1>Project Costs</h1>

<table>
  <% max = 0 %>
  <% @projects.each do |project| %>
    <% (max<project.project_costs.length) ? max=project.project_costs.length : max %>
  <% end %>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <% max.times do |i| %>
        <th>Cost <%= i+1 %> </th>
        <th>Data cost <%= i+1 %> </th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        
          <% i=0 %>
          <% project.project_costs.each do |cost| %>
            <td>
              <%= cost.amount %>
            </td>
            <td>
              <%= cost.month.to_s + " / " %>
              <%= cost.year %>
            </td>
            <% i+=1 %>
          <% end %>
          <% if i<max %>
            <% (max*2-i*2).times do %>
              <td></td>
            <% end %>
          <% end %>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', add_project_costs_project_path(project
        ) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

