<%= link_to new_project_path(sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-sm btn-primary btn-icon-text btn-rounded mb-3" do %>
  <i class="far fa-plus-circle btn-icon-prepend"></i>Adauga Proiect
<% end %>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <p class="card-title">Proiecte</p>
          </div>
          <div class="col-md-6">
            <%= render 'layouts/date_form' %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="projectTable" class="display expandable-table" style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th><%# 0 %>
                    <th>Nume proiect</th><%# 1 %>
                    <th>Data inceput</th><%# 2 %>
                    <th>Data finalizare</th><%# 3 %>
                    <th>Valoare</th><%# 4 %>
                    <th>Profit</th><%# 5 %>
                    <th>Profit %</th><%# 6 %>
                    <th style="display: none">Observatii</th><%# 7 %> 
                    <th style="display: none">Observatii short</th><%# 8 %> 
                    <th style="display: none">User pic</th><%# 9 %> 
                    <th style="display: none">Utilizator ultima modificare</th><%# 10 %> 
                    <th style="display: none">Data ultima modificare</th><%# 11 %> 
                    <th style="display: none">Data si ora ultima modificare</th><%# 12 %> 
                    <th style="display: none">Vezi comenzi</th><%# 13 %> 
                    <th style="display: none">Vezi facturi</th><%# 14 %> 
                    <th style="display: none">Vezi Proiect</th><%# 15 %> 
                    <th style="display: none">Modifica</th><%# 16 %> 
                    <th style="display: none">Sterge</th><%# 17 %> 
                    <th></th><%# 18 %> 
                  </tr>
                </thead>
                <tbody>
                  <% @projects.each do |project| %>
                    <tr>
                      <td><%= project.id %></td><%# 0 %>
                      <td><%= project.name %></td><%# 1 %>
                      <td><%= project.start_date %></td><%# 2 %>
                      <td><%= project.end_date || "In derulare" %></td><%# 3 %>
                      <td><%= project.value %></td><%# 4 %>
                      <td><%= profit(project.id, project.value) %></td><%# 5 %>
                      <td><%= profit_proc(project.id, project.value) %>%</td><%# 6 %>
                      <td style="display: none"><%= project.obs %></td><%# 7 %>
                      <td style="display: none"><%= excerpt(project.obs, "", radius: 200) %></td><%# 8 %>
                      <td style="display: none"><%= image_tag user_profile_picture(@users.find(project.user_id), 100) , alt: "profile" %></td><%# 9 %>
                      <td style="display: none"><%= @users.find(project.user_id).username %></td><%# 10 %>
                      <td style="display: none"><%= project.updated_at.strftime('%d/%m/%Y') %></td><%# 11 %>
                      <td style="display: none"><%= project.updated_at.strftime('%d/%m/%Y<br>(ora: %H:%M)') %></td><%# 12 %>
                      <td style="display: none"><%= link_to 'Vezi comenzi', project_path(project, :show => 'orders'), class: "btn btn-primary" %></td><%# 13 %>
                      <td style="display: none"><%= link_to 'Vezi facturi', project_path(project, :show => 'invoices'), class: "btn btn-primary" %></td><%# 14 %>
                      <td style="display: none"><%= link_to 'Vezi Proiect', project, class: "btn btn-primary" %></td><%# 15 %>
                      <td style="display: none"><%= link_to 'Modifica', edit_project_path(project,sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-outline-primary btn-fw" %></td><%# 16 %>
                      <td style="display: none"><%= link_to 'Sterge', project_path(project, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), method: :delete, data: { confirm: 'Esti sigur ca vrei sa stergi proiectul?' }, class: "btn btn-outline-danger btn-fw" %></td><%# 17 %>
                      <td class="details-control"></td><%# 18 %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<p id="import_btn" style="display: none">
  <%= link_to new_project_import_path, class: "btn btn-warning text-light btn-sm" do %>
    <i class="fas fa-upload"></i> Importa
  <% end %>
</p>

<script>
  $(document).ready(function(){
    function format ( d,obs, user_pic, user, last_change, show_invoices_btn, show_orders_btn, show_project_btn, change_btn, delete_btn ) {
      // `d` is the original data object for the row
      return '<table cellpadding="5" cellspacing="0" border="0" style="width:100%;">'+
          '<tr class="expanded-row">'+
              '<td colspan="8" class="row-bg">'+
                '<div>'+
                  '<div class="d-flex justify-content-between">'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-3 d-flex">'+
                        user_pic+
                        '<div>'+
                          '<p>Ultima modificare</p>'+
                          '<h6>'+user+'</h6>'+
                        '</div>'+
                      '</div>'+
                      '<div class="me-2 d-flex">'+
                        '<div class="highlighted-white"> </div>'+
                        '<div>'+
                          '<p>Data ultimei modificari</p>'+
                          '<h6>'+last_change+'</h6>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="d-flex mb-2">'+
                        '<div class="me-2 min-width-cell">'+
                          show_project_btn+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4 text-center">'+
                        show_invoices_btn+
                      '</div>'+
                      '<div class="me-2 text-center">'+
                        show_orders_btn+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell" style="min-width: 15vw;max-width: 15vw">'+
                      '<div class="me-2 mb-4">'+
                        '<h6 class="text-center">Observatii</h6>'+
                        obs+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        change_btn+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        delete_btn+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</td>'+
          '</tr>'+
      '</table>';
    };
    let params = new URLSearchParams(location.search)
    let date = new Date().toISOString()
    var table = $("#projectTable").DataTable({
      order: [[0, 'asc']],
      paging:   true,
      ordering: true,
      info:     false,
      filter: true,
      deferRender: true,
      stateSave: true,
      dom: '<"top"<"d-flex justify-content-between"<"d-flex"B<"import_btn">>f>>rt<"bottom"><"d-flex justify-content-between align-items-center"lp><"clear">',
      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "Toate"] ],
      pagingType: 'full_numbers',
      scrollY:     460,
      scroller:    true,
      colReorder: false,
      buttons: [
        { extend: 'excelHtml5', 
          text: '<i class="far fa-file-excel"></i> &nbsp;Exporta in excel',
          className: 'btn-success text-light btn-sm',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 10, 11 ]
          },
          sheetName: "Proiecte",
          title: "Proiecte cu data de inceput in perioada: " + (params.get('sm')!=null ? params.get('sm') + "/" + params.get('sy') + " - " + params.get('em') + "/" + params.get('ey') : "1/" + date.slice(0, 4) + " - 12/" + date.slice(0, 4)),
          filename: "Proiecte - " + date.slice(0, 10),
          autoFilter: true
        }, 'spacer',
        {
          extend: 'searchPanes',
          config: {
            cascadePanes: true 
          },
          className: 'btn-info text-light btn-sm' 
        }, 'spacer'
      ],
      columnDefs: [{
        orderable: true,
        className: 'select-checkbox',
        targets: 0,
        searchable: false,
        searchPanes: {
          show: false
        },
      },
      {
        searchable: true,
        targets: 1,  
        class: 'details-control',
        searchPanes: {
          show: true
        },
      },
      {
        searchable: false,
        searchPanes: {
          show: false
        },
        class: 'details-control',
        targets: '_all'
      },
      {
        orderable: false,
        targets: -1
      }
      ],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      language: {
        processing:     "Se proceseaza...",
        search:         "Cauta&nbsp;:",
        lengthMenu:    "Afiseaza cate _MENU_ proiecte",
        info:           "Se afiseaza proiectele de la _START_ pana la _END_ din _TOTAL_ proiecte",
        infoEmpty:      "Se afiseaza proiectele de la 0 pana la 0 din 0 proiecte",
        infoFiltered:   "(filtrate din _MAX_ proiecte in total)",
        infoPostFix:    "",
        loadingRecords: "Se incarca datele...",
        zeroRecords:    "Nici un proiect de afisat",
        emptyTable:     "Nu exista proiecte in baza de date",
        paginate: {
            first:      "Prima pagina",
            previous:   "Pagina anterioara",
            next:       "Pagina urmatoare",
            last:       "Ultima pagina"
        },
        aria: {
            sortAscending:  ": activati pentru a sorta coloana în ordine crescatoare",
            sortDescending: ": activati pentru a sorta coloana în ordine descrescatoare"
        },
        select: {
          rows: {
            _: "Ai selectat %d proiecte",
            1: "Ai selectat 1 proiect"
          }
        },
        searchPanes: {
          clearMessage: 'Sterge filtre',
          showMessage: 'Arata toate',
          collapseMessage: 'Ascunde toate',
          collapse: {0: '<i class="fal fa-filter"></i> &nbsp;Filtre', _: '<i class="fas fa-filter"></i> &nbsp;Filtre (%d)'},
          title: {
            _: 'Filtre Selectate - %d',
            0: 'Nici un filtru selectat',
            1: 'Un filtru selectat'
          }
        }
      }
    });
    $('.dt-buttons').removeClass('btn-group');
    $('div.import_btn').html($('#import_btn').html());
    $('#projectTable tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row( tr );
      if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
      }
      else {
          // Open this row
          row.child( format(row.data(),tr.find("td:eq(8)").text(),tr.find("td:eq(9)").html(),tr.find("td:eq(10)").text(),tr.find("td:eq(12)").text(),tr.find("td:eq(13)").html(),tr.find("td:eq(14)").html(),tr.find("td:eq(15)").html(),tr.find("td:eq(16)").html(),tr.find("td:eq(17)").html()) ).show();
          tr.addClass('shown');
      }
    } );
  });
</script>