<h1>Centralizare financiara</h1>
<%= render 'date_form' %>
<br>
<h2>Situatie financiara</h2>

<table>
  <thead>
    <tr>
      <th>Denumire</th>
      <% extra_years = 0 %>
      <%# List all months and years %>
        <% @months.times do |month| %>
          <th>
            <% if @start_month + month - extra_years * 12 > 12 %> 
              <% extra_years += 1 %>
            <% end %>
            <%= ((@start_month + month) - (extra_years * 12)).to_s + " / " + (@start_year + extra_years).to_s %>
          </th>
        <% end %>
      <%# End List all months and years %>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% total_values = 0 %>
    <% total_sum = 0 %>
    <% @total_expenses_per_months = [] %>
    <% @months.times do |month| %>
      <% @total_expenses_per_months[month] = 0 %> 
    <% end %>
    <% @total_per_months = [] %>
    <% @months.times do |month| %>
      <% @total_per_months[month] = 0 %> 
    <% end %>
    <tr>
      <td>Valoare proiecte</td>
      <% extra_years = 0 %>
      <% @months.times do |month| %>
        <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %> 
        <% projects = @projects.created_between(Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01'),Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01').next_month-1.day) %>
        <td>
          <%= total = projects.map(&:value).sum %>
          <% total_values += total %>
          <% @total_per_months[month] += total %>
        </td>
      <% end %>
      <td>
        <%= total_values %>
      </td>
    </tr>
    <% total_values = 0 %>
    <tr>
      <td>Cheltuieli materiale proiecte</td>
      <% extra_years = 0 %>
      <% @months.times do |month| %>
        <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %> 
        <% project_costs = @project_costs.where(month: @start_month + month - extra_years * 12 , year: @start_year + extra_years) %>
        <td>
          <%= total = project_costs.map(&:amount).sum %>
          <% total_values += total %>
          <% @total_per_months[month] -= total %>
          <% @total_expenses_per_months[month] += total %>
        </td>
      <% end %>
      <td>
        <%= total_values %>
      </td>
    </tr>
    <% total_values = 0 %>
    <tr>
      <td>Cheltuieli indirecte</td>
      <% extra_years = 0 %>
      <% @months.times do |month| %>
        <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %>
        <% employee_salaries = @employee_salaries.created_between(Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01'),Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01').next_month-1.day) %>
        <% for_total_salary_expenses = employee_salaries.map(&:net_salary).sum + employee_salaries.map(&:salary_tax).sum + employee_salaries.map(&:meal_vouchers).sum + employee_salaries.map(&:gift_vouchers).sum + employee_salaries.map(&:overtime).sum + employee_salaries.map(&:extra_salary).sum %>
        <% for_total_other_expenses = @expense_values.created_between(Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01'),Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01').next_month-1.day).map(&:value).sum %>
        <td>
          <%= total = for_total_salary_expenses + for_total_other_expenses %>
          <% total_values += total %>
          <% @total_per_months[month] -= total %>
          <% @total_expenses_per_months[month] += total %>
        </td>
      <% end %>
      <td>
        <%= total_values %>
      </td>
    </tr>
    
    
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <%# Total per month %>
        
        <% @months.times do |month| %>
          <th>         
             <%= sum = @total_per_months[month] %>
             <% total_sum += sum %>
          </th>
        <% end %>
      <%# End Total per month %>

      <%# GrandTotal of totals %>
        <th><%= total_sum %></th>
      <%# End GrandTotal of totals %>

    </tr>
  </tfoot>
</table>

<br>
<h2>Cash flow</h2>

<table>
  <thead>
    <tr>
      <th>Cash flow</th>
      <% extra_years = 0 %>
      <%# List all months and years %>
        <% @months.times do |month| %>
          <th>
            <% if @start_month + month - extra_years * 12 > 12 %> 
              <% extra_years += 1 %>
            <% end %>
            <%= ((@start_month + month) - (extra_years * 12)).to_s + " / " + (@start_year + extra_years).to_s %>
          </th>
        <% end %>
      <%# End List all months and years %>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% total_values = 0 %>
    <% total_expenses = 0 %>
    <% salary_expenses = 0 %>
    <% @old_solds = [] %>
    <% @total_per_months = [] %>
    <% @solds = [] %>
    <% @months.times do |month| %>
      <% @total_per_months[month] = 0 %> 
      <% @solds[month] = 0 %> 
    <% end %>
    <tr>
      <td>Sold to</td>
      <!-- afla care e soldul la prima luna afisata  -->
      <% extra_years_before = 0 %>
      <% sold = @last_january_sold.value %>  
      <% @months_before.times do |month_before| %>
        <% 1 + month_before - extra_years_before * 12 > 12 ? extra_years_before += 1 : extra_years_before %>
        <% project_situations_advance = @project_situations.where(advance_month: 1 + month_before, advance_year: @last_january_sold.year + extra_years_before).map(&:advance_payment).sum %>
        <% project_situations_closure = @project_situations.where(closure_month: 1 + month_before, closure_year: @last_january_sold.year + extra_years_before).map(&:closure_payment).sum %>

        <% employee_salaries = @employee_salaries.created_between(Date.parse((@last_january_sold.year + extra_years_before).to_s+'-'+((1 + month_before) - (extra_years_before * 12)).to_s+'-01'),Date.parse((@last_january_sold.year + extra_years_before).to_s+'-'+((1 + month_before) - (extra_years_before * 12)).to_s+'-01').next_month-1.day) %>
        <% for_total_salary_expenses = employee_salaries.map(&:net_salary).sum + employee_salaries.map(&:salary_tax).sum + employee_salaries.map(&:meal_vouchers).sum + employee_salaries.map(&:gift_vouchers).sum + employee_salaries.map(&:overtime).sum + employee_salaries.map(&:extra_salary).sum %>

        <% for_total_other_expenses = @expense_values.created_between(Date.parse((@last_january_sold.year + extra_years_before).to_s+'-'+((1 + month_before) - (extra_years_before * 12)).to_s+'-01'),Date.parse((@last_january_sold.year + extra_years_before).to_s+'-'+((1 + month_before) - (extra_years_before * 12)).to_s+'-01').next_month-1.day).map(&:value).sum %>

        <% project_costs = @project_costs.where(month: 1 + month_before, year: @last_january_sold.year + extra_years_before).map(&:amount).sum %>

        <% sold = sold + project_situations_advance + project_situations_closure - for_total_salary_expenses - for_total_other_expenses - project_costs %>
      <% end %>

      <% project_situations_advance = 0 %>
      <% project_situations_closure = 0 %>
      <% for_total_salary_expenses = 0 %>
      <% for_total_other_expenses = 0 %>
      <!-- pornind de la soldul calculat anterior calculeaza si afiseaza soldul pe perioada de afisat + 1 luna extra-->
      <% extra_years = 0 %>
      <% @months.times do |month| %>
        <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %>
        <td>
          <% project_situations_advance = @project_situations.where(advance_month: @start_month + month - extra_years * 12, advance_year: @start_year + extra_years).map(&:advance_payment).sum %>
          <% project_situations_closure = @project_situations.where(closure_month: @start_month + month - extra_years * 12, closure_year: @start_year + extra_years).map(&:closure_payment).sum %>

          <% employee_salaries = @employee_salaries.created_between(Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01'),Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01').next_month-1.day) %>
          <% for_total_salary_expenses = employee_salaries.map(&:net_salary).sum + employee_salaries.map(&:salary_tax).sum + employee_salaries.map(&:meal_vouchers).sum + employee_salaries.map(&:gift_vouchers).sum + employee_salaries.map(&:overtime).sum + employee_salaries.map(&:extra_salary).sum %>

          <% for_total_other_expenses = @expense_values.created_between(Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01'),Date.parse((@start_year + extra_years).to_s+'-'+((@start_month + month) - (extra_years * 12)).to_s+'-01').next_month-1.day).map(&:value).sum %>

          
          <% if @start_month + month - (extra_years * 12) == 1 %>
            <% @old_solds[@start_year + extra_years - 1] = @solds[month-1] %>
            <% current_year_now = @start_year + extra_years %>
            <% @solds[month-1] = @january_solds.find_by(year: current_year_now).value if @january_solds.find_by(year: current_year_now) %>
          <% end %>
          <% @january_solds.find_by(year: current_year_now) ? @jsid = @january_solds.find_by(year: current_year_now).id : @jsid = ""  %>
          <% if month == 0 %>
            <% if @start_month==1 %>
              <%= link_to financial_centralization_path(jsid: @jsid, year:  current_year_now, start_month: @start_month, start_year: @start_year, end_month: @end_month, end_year: @end_year) do %>
                <%= sold %>
              <% end %>
            <% else %>
              <%= sold %>
            <% end %>
            <% @solds[month] = sold + project_situations_advance + project_situations_closure - @total_expenses_per_months[month] %>
          <% elsif @start_month + month - (extra_years * 12) == 1 %>

            <%= link_to financial_centralization_path(jsid: @jsid, year: current_year_now, start_month: @start_month, start_year: @start_year, end_month: @end_month, end_year: @end_year) do %>
              <%= @solds[month-1] %>
            <% end %>
            <% @solds[month] = @solds[month-1] + project_situations_advance + project_situations_closure - @total_expenses_per_months[month]%>
          <% else %>
            <%= @solds[month-1] %>
            <% @solds[month] = @solds[month-1] + project_situations_advance + project_situations_closure - @total_expenses_per_months[month]%>
          <% end %>
        </td>
      <% end %>
      <td>
        
      </td>
    </tr>
    <tr>
      <td>Sume incasate avans</td>
      <% extra_years = 0 %>
      <% @months.times do |month| %>
        <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %>
        <% project_situations = @project_situations.where(advance_month: @start_month + month - extra_years * 12, advance_year: @start_year + extra_years) %>
        <td>
          <%= total = project_situations.map(&:advance_payment).sum %>
          <% total_values += total %>
          <% @total_per_months[month] += total %>
        </td>
      <% end %>
      <td>
        <%= total_values %>
      </td>
    </tr>
    <% total_values = 0 %>
    <tr>
      <td>Sume incasate final</td>
      <% extra_years = 0 %>
      <% @months.times do |month| %>
        <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %>
        <% project_situations = @project_situations.where(closure_month: @start_month + month - extra_years * 12, closure_year: @start_year + extra_years) %>
        <td>
          <%= total = project_situations.map(&:closure_payment).sum %>
          <% total_values += total %>
          <% @total_per_months[month] += total %>
        </td>
      <% end %>
      <td>
        <%= total_values %>
      </td>
    </tr>
    <tr>
      <td>Cheltuieli mat proiect + ch indirecte</td>

      <% @months.times do |month| %>
        <td>
          <%= sum = @total_expenses_per_months[month] %>
          <% @total_per_months[month] -=sum %>
          <% total_expenses += sum %>
        </td>
      <% end %>
      <td>
        <%= total_expenses %>
      </td>
    </tr>
    
  </tbody>
  <tfoot>
    <tr>
      <th>Disponibil cash</th>
      <%# Total per month %>
        <% extra_years = 0 %>
        <% @months.times do |month| %>
          <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %>
          <th>         
            <% if @start_month + month - extra_years * 12 == 12 && @months-1 != month %>
              <%= @old_solds[@start_year + extra_years] %>
            <% else %>
              <%= @solds[month] %>
            <% end %>
          </th>
        <% end %>
      <%# End Total per month %>

      <%# GrandTotal of totals %>

      <%# End GrandTotal of totals %>

    </tr>
  </tfoot>
</table>
<br>
<%= render 'january_solds/form', january_sold: @january_sold %>
