<h1>Situatie proiecte</h1>
<%= render 'layouts/date_form' %>
Total avansuri incasate: <%= @total_advance_payment %>
<br>
Total proiecte de incasat: <%= @total_to_be_collected %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Proiect</th>
      <th>Valoare proiect</th>
      <th>Rest de plata</th>
      <th>Cost materiale</th>
      <th>Profitabilitate</th>
      <th>Profitabilitate %</th>
      <th>Data ff avans</th>
      <th>FF avans</th>
      <th>Data avans</th>
      <th>Avans</th>
      <th>Luna comanda/avans</th>
      <th>An comanda/avans</th>
      <th>Data ff finala</th>
      <th>FF finala</th>
      <th>Data inchidere</th>
      <th>Inchidere</th>
      <th>Luna finalizare/rest de plata</th>
      <th>An finalizare/rest de plata</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <% project_situation = ProjectSituation.where(project_id: project.id).first %>
      <% platit = project_situation.advance_payment + project_situation.closure_payment %>

      <% sum = ProjectCost.where(project_id: project.id).sum(:amount) %>

      <tr>
        <td><%= project.name %></td>
        <td><%= project.value %></td>
        <td><%= project.value - platit %></td>
        <td><%= sum %></td>
        <td><%= project.value - sum  %> </td>
        <td><%= sprintf('%.2f', (project.value - sum) * 100/  project.value)%>%</td>
        
        <% if project_situation %>
          <td><%= project_situation.advance_invoice_date %></td>
          <td><%= project_situation.advance_invoice_number %></td>
          <td><%= project_situation.advance_payment_date %></td>
          <td><%= project_situation.advance_payment %></td>
          <td><%= project_situation.advance_month %></td>
          <td><%= project_situation.advance_year %></td>
          <td><%= project_situation.closure_invoice_date %></td>
          <td><%= project_situation.closure_invoice_number %></td>
          <td><%= project_situation.closure_payment_date %></td>
          <td><%= project_situation.closure_payment %></td>
          <td><%= project_situation.closure_month %></td>
          <td><%= project_situation.closure_year %></td>
          <td><%= link_to 'Modifica', edit_project_situation_path(project_situation, which_date: @which_date, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year) %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

