<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <p class="card-title">Situatie proiecte</p>
          </div>
          <div class="col-md-9">
            <%= render 'layouts/date_form' %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="table-responsive">
              <table id="projectTable" class="display expandable-table" style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th><%# 0 %>
                    <th>Nume proiect</th><%# 1 %>
                    <th>Valoare proiect</th><%# 2 %>
                    <th>Rest de plata</th><%# 3 %>
                    <th>Cost materiale</th><%# 4 %>
                    <th>Profitabilitate</th><%# 5 %>
                    <th>Profitabilitate %</th><%# 6 %>

                    <th style="display: none">Data ff avans</th><%# 7 %>
                    <th style="display: none">FF avans</th><%# 8 %>
                    <th style="display: none">Data avans</th><%# 9 %>
                    <th style="display: none">Avans</th><%# 10 %>
                    <th style="display: none">Luna comanda/avans</th><%# 11 %>
                    <th style="display: none">An comanda/avans</th><%# 12 %>
                    <th style="display: none">Data ff finala</th><%# 13 %>
                    <th style="display: none">FF finala</th><%# 14 %>
                    <th style="display: none">Data inchidere</th><%# 15 %>
                    <th style="display: none">Inchidere</th><%# 16 %>
                    <th style="display: none">Luna finalizare/rest de plata</th><%# 17 %>
                    <th style="display: none">An finalizare/rest de plata</th><%# 18 %>
                    <th style="display: none">Modifica</th><%# 19 %>
                    
                    <th></th><%# 20 %> 
                  </tr>
                </thead>
                <tbody>
                  <% @projects.each do |project| %>
                    <% project_situation = ProjectSituation.where(project_id: project.id).first %>
                    <% platit = project_situation.advance_payment + project_situation.closure_payment %>

                    <% sum = ProjectCost.where(project_id: project.id).sum(:amount) %>

                    <tr>
                      <td><%= project.id %></td><%# 0 %>
                      <td><%= project.name %></td><%# 1 %>
                      <td><%= project.value %></td><%# 2 %>
                      <td><%= project.value - platit %></td><%# 3 %>
                      <td><%= sum %></td><%# 4 %>
                      <td><%= project.value - sum  %> </td><%# 5 %>
                      <td><%= sprintf('%.2f', (project.value - sum) * 100/  project.value)%>%</td><%# 6 %>
                      
                      <% if project_situation %>
                        <td style="display: none"><%= project_situation.advance_invoice_date %></td><%# 7 %>
                        <td style="display: none"><%= project_situation.advance_invoice_number %></td><%# 8 %>
                        <td style="display: none"><%= project_situation.advance_payment_date %></td><%# 9 %>
                        <td style="display: none"><%= project_situation.advance_payment %></td><%# 10 %>
                        <td style="display: none"><%= project_situation.advance_month %></td><%# 11 %>
                        <td style="display: none"><%= project_situation.advance_year %></td><%# 12 %>
                        <td style="display: none"><%= project_situation.closure_invoice_date %></td><%# 13 %>
                        <td style="display: none"><%= project_situation.closure_invoice_number %></td><%# 14 %>
                        <td style="display: none"><%= project_situation.closure_payment_date %></td><%# 15 %>
                        <td style="display: none"><%= project_situation.closure_payment %></td><%# 16 %>
                        <td style="display: none"><%= project_situation.closure_month %></td><%# 17 %>
                        <td style="display: none"><%= project_situation.closure_year %></td><%# 18 %>
                        <td style="display: none"><%= link_to 'Modifica', edit_project_situation_path(project_situation, which_date: @which_date, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), class: "btn btn-outline-primary btn-fw" %></td><%# 19 %>
                      <% end %>
                      <td class="details-control"></td><%# 20 %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<p id="import_btn" style="display: none">
  <%= link_to new_project_situation_import_path, class: "btn btn-warning text-light btn-sm" do %>
    <i class="fas fa-upload"></i> Importa
  <% end %>
</p>

<script>
  $(document).ready(function(){
    function format ( d, advance_invoice_date, advance_invoice_number, advance_payment_date, advance_payment, advance_month, advance_year, closure_invoice_date, closure_invoice_number, closure_payment_date, closure_payment, closure_month, closure_year, change_btn) {
      // `d` is the original data object for the row
      return '<table cellpadding="5" cellspacing="0" border="0" style="width:100%;">'+
          '<tr class="expanded-row">'+
              '<td colspan="3" class="row-bg">'+
                '<div>'+
                  '<div class="d-flex justify-content-between">'+
                    '<div class="d-flex cell-hilighted align-self-center flex-fill me-5 justify-content-between">'+
                      '<div>'+
                        '<div class="me-2 min-width-cell">'+
                          '<p>Data ff avans</p>'+
                          '<h6>'+advance_invoice_date+'</h6>'+
                        '</div>'+
                        '<div class="mb-3 min-width-cell">'+
                          '<p>FF avans</p>'+
                          '<h6>'+advance_invoice_number+'</h6>'+
                        '</div>'+
                      '</div>'+
                      '<div>'+
                        '<div class="me-2 min-width-cell">'+
                          '<p>Data avans</p>'+
                          '<h6>'+advance_payment_date+'</h6>'+
                        '</div>'+
                        '<div class="mb-3 min-width-cell">'+
                          '<p>Avans</p>'+
                          '<h6>'+advance_payment+'</h6>'+
                        '</div>'+
                      '</div>'+
                      '<div class="align-self-center">'+
                        '<div class="me-2 min-width-cell ">'+
                          '<p>Data comanda/avans</p>'+
                          '<h6>'+advance_month+' / '+advance_year+'</h6>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<div class="d-flex cell-hilighted-danger align-self-center flex-fill me-5 justify-content-between card-light-danger">'+
                      '<div>'+
                        '<div class="me-2 min-width-cell">'+
                          '<p>Data ff avans</p>'+
                          '<h6>'+closure_invoice_date+'</h6>'+
                        '</div>'+
                        '<div class="mb-3 min-width-cell">'+
                          '<p>FF avans</p>'+
                          '<h6>'+closure_invoice_number+'</h6>'+
                        '</div>'+
                      '</div>'+
                      '<div>'+
                        '<div class="me-2 min-width-cell">'+
                          '<p>Data avans</p>'+
                          '<h6>'+closure_payment_date+'</h6>'+
                        '</div>'+
                        '<div class="mb-3 min-width-cell">'+
                          '<p>Avans</p>'+
                          '<h6>'+closure_payment+'</h6>'+
                        '</div>'+
                      '</div>'+
                      '<div class="align-self-center">'+
                        '<div class="me-2 min-width-cell">'+
                          '<p>Data comanda/avans</p>'+
                          '<h6>'+closure_month+' / '+closure_year+'</h6>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<div class="expanded-table-normal-cell align-self-center">'+
                      '<div class="me-2 mb-4">'+
                        change_btn+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</td>'+
          '</tr>'+
      '</table>';
    };
    let params = new URLSearchParams(location.search)
    let date = new Date().toISOString()
    var table = $("#projectTable").DataTable({
      order: [[0, 'asc']],
      paging:   true,
      ordering: true,
      info:     false,
      filter: true,
      deferRender: true,
      stateSave: true,
      dom: '<"top"<"d-flex justify-content-between"<"d-flex"B<"import_btn">>f>>rt<"bottom"><"d-flex justify-content-between align-items-center"lp><"clear">',
      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "Toate"] ],
      pagingType: 'full_numbers',
      scrollY:     500,
      scroller:    true,
      colReorder: false,
      buttons: [
        { extend: 'excelHtml5', 
          text: '<i class="far fa-file-excel"></i> &nbsp;Exporta in excel',
          className: 'btn-success text-light btn-sm' ,
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18 ]
          },
          sheetName: "Situatie proiecte",
          title: "Situatie proiecte cu " + (params.get('which_date')!=null ? params.get('which_date')=="advance" ? "data comanda/avans" : "data finalizare/rest de plata" : "data comanda/avans") + " in perioada: " + (params.get('sm')!=null ? params.get('sm') + "/" + params.get('sy') + " - " + params.get('em') + "/" + params.get('ey') : "1/" + date.slice(0, 4) + " - 12/" + date.slice(0, 4)),
          filename: "Situatie proiecte - " + date.slice(0, 10),
          autoFilter: true
        }, 'spacer',
        {
          extend: 'searchPanes',
          config: {
            cascadePanes: true 
          },
          className: 'btn-info text-light btn-sm' 
        }, 'spacer'
      ],
      columnDefs: [{
        orderable: true,
        className: 'select-checkbox',
        targets: 0,
        searchable: false,
        searchPanes: {
          show: false
        },
      },
      {
        searchable: true,
        class: 'details-control',
        targets: [1,2,3,4,8,14],
        searchPanes: {
          show: true
        },
      },
      {
        searchable: false,
        searchPanes: {
          show: false
        },
        class: 'details-control',
        targets: [5,6,7,9,10,11,12,13,15,16,17,18,19]
      },
      {
        orderable: false,
        targets: 20
      }
      ],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      language: {
        processing:     "Se proceseaza...",
        search:         "Cauta&nbsp;:",
        lengthMenu:    "Afiseaza cate _MENU_ proiecte",
        info:           "Se afiseaza proiectele de la _START_ pana la _END_ din _TOTAL_ proiecte",
        infoEmpty:      "Se afiseaza proiectele de la 0 pana la 0 din 0 proiecte",
        infoFiltered:   "(filtrate din _MAX_ proiecte in total)",
        infoPostFix:    "",
        loadingRecords: "Se incarca datele...",
        zeroRecords:    "Nici un proiect de afisat",
        emptyTable:     "Nu exista proiecte in baza de date",
        paginate: {
            first:      "Prima pagina",
            previous:   "Pagina anterioara",
            next:       "Pagina urmatoare",
            last:       "Ultima pagina"
        },
        aria: {
            sortAscending:  ": activati pentru a sorta coloana în ordine crescatoare",
            sortDescending: ": activati pentru a sorta coloana în ordine descrescatoare"
        },
        select: {
          rows: {
            _: "Ai selectat %d proiecte",
            1: "Ai selectat 1 proiect"
          }
        },
        searchPanes: {
          clearMessage: 'Sterge filtre',
          showMessage: 'Arata toate',
          collapseMessage: 'Ascunde toate',
          collapse: {0: '<i class="fal fa-filter"></i> &nbsp;Filtre', _: '<i class="fas fa-filter"></i> &nbsp;Filtre (%d)'},
          title: {
            _: 'Filtre Selectate - %d',
            0: 'Nici un filtru selectat',
            1: 'Un filtru selectat'
          }
        }
      }
    });
    $('.dt-buttons').removeClass('btn-group');
    $('div.import_btn').html($('#import_btn').html());
    $('#projectTable tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row( tr );
      if ( row.child.isShown() ) {
          // This row is already open - close it
          row.child.hide();
          tr.removeClass('shown');
      }
      else {
          // Open this row
          row.child( format(row.data(),tr.find("td:eq(7)").text(),tr.find("td:eq(8)").text(),tr.find("td:eq(9)").text(),tr.find("td:eq(10)").text(),tr.find("td:eq(11)").text(),tr.find("td:eq(12)").text(),tr.find("td:eq(13)").text(),tr.find("td:eq(14)").text(),tr.find("td:eq(15)").text(),tr.find("td:eq(16)").text(),tr.find("td:eq(17)").text(),tr.find("td:eq(18)").text(),tr.find("td:eq(19)").html()) ).show();
          tr.addClass('shown');
      }
    } );
  });
</script>