<p id="notice"><%= notice %></p>

<p>
  <strong>Advance invoice date:</strong>
  <%= @project_situation.advance_invoice_date %>
</p>

<p>
  <strong>Advance invoice number:</strong>
  <%= @project_situation.advance_invoice_number %>
</p>

<p>
  <strong>Advance payment date:</strong>
  <%= @project_situation.advance_payment_date %>
</p>

<p>
  <strong>Advance payment:</strong>
  <%= @project_situation.advance_payment %>
</p>

<p>
  <strong>Advance month:</strong>
  <%= @project_situation.advance_month %>
</p>

<p>
  <strong>Advance year:</strong>
  <%= @project_situation.advance_year %>
</p>

<p>
  <strong>Closure invoice date:</strong>
  <%= @project_situation.closure_invoice_date %>
</p>

<p>
  <strong>Closure invoice number:</strong>
  <%= @project_situation.closure_invoice_number %>
</p>

<p>
  <strong>Closure payment date:</strong>
  <%= @project_situation.closure_payment_date %>
</p>

<p>
  <strong>Closure payment:</strong>
  <%= @project_situation.closure_payment %>
</p>

<p>
  <strong>Closure month:</strong>
  <%= @project_situation.closure_month %>
</p>

<p>
  <strong>Closure year:</strong>
  <%= @project_situation.closure_year %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_situation.project_id %>
</p>

<%= link_to 'Edit', edit_project_situation_path(@project_situation) %> |
<%= link_to 'Back', project_situations_path %>
