<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :expense_type, value: @expense.expense_type %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <% if !@expense.name %>
    <%= form.fields_for :expense_values do |f| %>

      <div class="field">
        <%= f.label :value %>
        <%= f.number_field :value, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>

      <div class="field">
        <%= f.label :due_date %>
        <%= f.date_field :due_date %>
      </div>

      <div class="field">
        <%= f.label :vat_taxes %>
        <%= f.check_box :vat_taxes %>
      </div>
    <% end %>
  <% elsif @expense_value %>
    <%= form.fields_for :expense_values, @expense_value do |f| %>

      <div class="field">
        <%= f.label :value %>
        <%= f.number_field :value, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>

      <div class="field">
        <%= f.label :due_date %>
        <%= f.date_field :due_date %>
      </div>

      <div class="field">
        <%= f.label :vat_taxes %>
        <%= f.check_box :vat_taxes %>
      </div>
    <% end %>
  <% end %>
  <%= hidden_field_tag(:start_month, @start_month) %>
  <%= hidden_field_tag(:start_year, @start_year) %>
  <%= hidden_field_tag(:end_month, @end_month) %>
  <%= hidden_field_tag(:end_year, @end_year) %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
