<h1><%= params[:expense_type]=="investitii" || params[:expense_type]=="alte_cheltuieli"  ? params[:expense_type].titleize : "Cheltuieli "+ params[:expense_type].titleize %></h1>
<%= render 'layouts/date_form' %>
<br>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Denumire cheltuiala</th>
      <%# List all months and years %>
        <% @table_head.each do |th| %>
          <th>
            <%= th %>
          </th>
        <% end %>
      <%# End List all months and years %>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.id %></td>
        <td>
          <%= link_to expenses_path(expense_type: expense.expense_type, expense_id: expense.id, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), {style: "text-decoration:none"} do %> <div><%=expense.name%></div><% end %>
        </td>
        <% index = 0%>
        <%#= index %>
        <% while expense.expense_values[index] && (expense.expense_values[index].date.strftime("%-m").to_i < @start_month || expense.expense_values[index].date.strftime("%Y").to_i < @start_year)  %>
          <% index +=1 %>
        <% end %>
        <% total = 0 %>
        <% extra_years = 0 %>
        <% @months.times do |month| %>
          <td>
          <% if expense.expense_values[index] %>
          <% end %>
            <% @start_month + month - extra_years * 12 > 12 ? extra_years += 1 : extra_years %> 
            <% if expense.expense_values[index] && expense.expense_values[index].date.strftime("%-m").to_i == @start_month + month - extra_years * 12 && expense.expense_values[index].date.strftime("%Y").to_i == @start_year + extra_years %>
              <%= link_to expenses_path(expense_type: expense.expense_type, expense_id: expense.id, expense_value_id: expense.expense_values[index].id, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), {style: "text-decoration:none"} do %>
                <div>
                  <%= expense.expense_values[index].value %>
                </div>
              <% end %>
              <% total += expense.expense_values[index].value %>
              <% @total_per_months[month] += expense.expense_values[index].value %>
              <% index += 1 %>
            <% else %>
              <%= link_to expenses_path(expense_type: expense.expense_type, expense_id: expense.id, expense_value: 0, sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year, current_month: (@start_month + month) - (extra_years * 12), current_year: (@start_year + extra_years)), {style: "text-decoration:none"} do %>
                <div>&nbsp</div>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= total %>
          <% @grand_total += total %>
        </td>
        <td>
          <%= link_to 'Sterge', expense_path(expense,sm: @start_month, sy: @start_year, em: @end_month, ey: @end_year), method: :delete, data: { confirm: 'Esti sigur ca vrei sa stergi cheltuiala?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th>Total</th>
      <%# Total per month %>
        <% @months.times do |month| %>
          <th>         
            <%= @total_per_months[month] %>
          </th>
        <% end %>
      <%# End Total per month %>

      <%# GrandTotal of totals %>
        <th><%= @grand_total %></th>
      <%# End GrandTotal of totals %>

      <th colspan="3"></th>
    </tr>
  </tfoot>
</table>

<br>
<%= render 'form', expense: @expense %>
<br>
