<%= form_with(model: user) do |form| %>
  
  <div class="field">
    <%= form.label "Username" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label "Email" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label "Role" %>
    <%= form.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
