<div class="d-flex justify-content-between">
  <%= link_to new_user_path, class: "btn btn-sm btn-primary btn-icon-text btn-rounded mb-3" do %>
    <i class="ti-plus btn-icon-prepend"></i>
    Adauga user
  <% end %>
  <div>
    <% if  request.query_parameters=={} %>
      <%= link_to users_path(status: "activ"), class: "badge badge-success" do %>
        Vezi userii activi
      <% end %>
      <%= link_to users_path(status: "inactiv"), class: "badge badge-danger" do %>
        Vezi userii inactivi
      <% end %>
    <% else %>
      <%= link_to users_path, class: "badge badge-primary" do %>
        Vezi toti userii
      <% end %>
      <% if request.query_parameters== {"status"=>"inactiv"} %>
        <%= link_to users_path(status: "activ"), class: "badge badge-success" do %>
        Vezi userii activi
        <% end %>
      <% else %>
        <%= link_to users_path(status: "inactiv"), class: "badge badge-danger" do %>
        Vezi userii inactivi
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <div class="row mb-0">
      <p class="card-title">Utilizatori</p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="usersTable" class="table" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Poza</th>
                <th>Username</th>
                <th>Email</th>
                <th style="display: none">Rol</th>
                <th style="min-width: 300px">Rol</th>
                <th>Ultima autentificare</th>
                <th style="display: none">Status</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr style="<%= 'background-color: #FF1414' if user.failed_attempts>=10 %>" >
                  <%= render user %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var table = $("#usersTable").DataTable({
      order: [[0, 'asc']],
      paging:   true,
      ordering: true,
      info:     false,
      filter: true,
      stateSave: true,
      dom: '<"top"<"d-flex justify-content-between"Bf>>rt<"bottom"><"d-flex justify-content-between align-items-center"lp><"clear">',
      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "Toate"] ],
      pagingType: 'full_numbers',
      scrollY:     450,
      scrollX: true,
      scroller:    true,
      colReorder: false,
      buttons: [
        { extend: 'excelHtml5', 
          text: '<i class="far fa-file-excel"></i> &nbsp;Exporta in excel',
          className: 'btn-success text-light btn-sm',
          exportOptions: {
            columns: [ 0, 2, 3, 4, 6, 7 ]
          },
          sheetName: "Utilizatori"
          ,
          title: "Utilizatori"
          ,
          filename: "Utilizatori",
          autoFilter: true
        }, 'spacer',
        {
          extend: 'searchPanes',
          config: {
            cascadePanes: true 
          },
          className: 'btn-info text-light btn-sm' 
        }
      ],
      columnDefs: [
        {
        searchable: true,
        targets: [2,3,4,7],
        searchPanes: {
          show: true
        },
      },
      {
        searchable: false,
        targets: '_all',
        searchPanes: {
          show: false
        },
      },
      {
        orderable: false,
        targets: [1,-1]
      }
      ],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      language: {
        processing:     "Se proceseaza...",
        search:         "Cauta&nbsp;:",
        lengthMenu:    "Afiseaza cate _MENU_ utilizatori",
        info:           "Se afiseaza utilizatorii de la _START_ pana la _END_ din _TOTAL_ utilizatori",
        infoEmpty:      "Se afiseaza utilizatorii de la 0 pana la 0 din 0 utilizatori",
        infoFiltered:   "(filtrate din _MAX_ utilizatori in total)",
        infoPostFix:    "",
        loadingRecords: "Se incarca datele...",
        zeroRecords:    "Nici un utilizator de afisat",
        emptyTable:     "Nu exista utilizatori in baza de date",
        paginate: {
            first:      "Prima pagina",
            previous:   "Pagina anterioara",
            next:       "Pagina urmatoare",
            last:       "Ultima pagina"
        },
        aria: {
            sortAscending:  ": activati pentru a sorta coloana în ordine crescatoare",
            sortDescending: ": activati pentru a sorta coloana în ordine descrescatoare"
        },
        select: {
          rows: {
            _: "Ai selectat %d utilizatori",
            1: "Ai selectat 1 utilizator"
          }
        },
        searchPanes: {
          clearMessage: 'Sterge filtre',
          showAll: 'Arata',
          collapse: {0: '<i class="fal fa-filter"></i> &nbsp;Filtre', _: '<i class="fas fa-filter"></i> &nbsp;Filtre (%d)'},
          title: {
            _: 'Filtre Selectate - %d',
            0: 'Nici un filtru selectat',
            1: 'Un filtru selectat'
          }
        }
      }
    });
    $('.dt-buttons').removeClass('btn-group');
  });
</script>