<div class="row">
  <div class="col-lg-12 grid-margin">
    <%= link_to new_user_path, class: "btn btn-primary btn-icon-text" do %>
      <i class="ti-plus btn-icon-prepend"></i>
      Adauga user
    <% end %>
    <div class="float-right mt-3">
      <% if  request.query_parameters=={} %>
        <%= link_to users_path(status: "activ"), class: "badge badge-success" do %>
          Vezi userii activi
        <% end %>
        <%= link_to users_path(status: "inactiv"), class: "badge badge-danger" do %>
          Vezi userii inactivi
        <% end %>
      <% else %>
        <%= link_to users_path, class: "badge badge-primary" do %>
          Vezi toti userii
        <% end %>
        <% if request.query_parameters== {"status"=>"inactiv"} %>
          <%= link_to users_path(status: "activ"), class: "badge badge-success" do %>
          Vezi userii activi
          <% end %>
        <% else %>
          <%= link_to users_path(status: "inactiv"), class: "badge badge-danger" do %>
          Vezi userii inactivi
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          Utilizatori
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Poza</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th style="min-width: 300px">Rol</th>
                  <th>Ultima autentificare</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <% @users.each do |user| %>
                <tr style="<%= 'background-color: #FF1414' if user.failed_attempts>=10 %>" >
                  <%= render user %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>