<div class="card">
  <div class="card-body">
    <div class="row mb-0">
      <p class="card-title">Istoric inregistrari</p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="recordsTable" class="table" style="width:100%">
            <thead>
              <tr>
                <th>Id</th>
                <th>Tip</th>
                <th>Locatie</th>
                <th>Id element</th>
                <th>Date initiale</th>
                <th>Date modificate</th>
                <th>User</th>
                <th>Data operatie</th>
                <th style="display: none">Date</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @records.each do |record| %>
                <tr>
                  <td><%= record.id %></td>
                  <td><%= record.record_type %></td>
                  <td><%= record.location %></td>
                  <td><%= record.model_id %></td>
                  <td><%= record.initial_data %></td>
                  <td><%= record.modified_data %></td>
                  <td><%= @users.find(record.user_id).username %></td>
                  <td><%= record.created_at.strftime('%d/%m/%Y(ora: %H:%M)') %></td>
                  <td style="display: none"><%= record.created_at.strftime('%d/%m/%Y') %></td>
                  <td><%= link_to 'Show', record %></td>
                  <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    let date = new Date().toISOString()
    var table = $("#recordsTable").DataTable({
      order: [[0, 'desc']],
      paging:   true,
      ordering: true,
      info:     false,
      filter: true,
      deferRender: true,
      stateSave: true,
      dom: '<"top"<"d-flex justify-content-between"Bf>>rt<"bottom"><"d-flex justify-content-between align-items-center"lp><"clear">',
      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "Toate"] ],
      pagingType: 'full_numbers',
      scrollY:     550,
      scrollX: true,
      scroller:    true,
      colReorder: false,
      fixedColumns:   true,
      fixedColumns: {
        left: 4
      },
      buttons: [
        { extend: 'excelHtml5', 
          text: '<i class="far fa-file-excel"></i> &nbsp;Exporta in excel',
          className: 'btn-success text-light btn-sm',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7 ]
          },
          sheetName: "Istoric inregistrari",
          title: "Istoric inregistrari",
          filename: "Istoric inregistrari - " + date.slice(0, 10),
          autoFilter: true
        }, 'spacer',
        {
          extend: 'searchPanes',
          config: {
            cascadePanes: true 
          },
          className: 'btn-info text-light btn-sm' 
        }
      ],
      columnDefs: [
        {
        searchable: true,
        targets: [1,2,3,4,5,6,8],
        searchPanes: {
          show: true
          },
        },
        {
          searchable: false,
          targets: '_all',
          searchPanes: {
            show: false
          },
        },
        {
          orderable: false,
          targets: [-2,-1]
        }
      ],
      select: {
        style: 'os',
        selector: 'td:first-child'
      },
      language: {
        processing:     "Se proceseaza...",
        search:         "Cauta&nbsp;:",
        lengthMenu:    "Afiseaza cate _MENU_ inregistrari",
        info:           "Se afiseaza inregistrarile de la _START_ pana la _END_ din _TOTAL_ inregistrari",
        infoEmpty:      "Se afiseaza inregistrarile de la 0 pana la 0 din 0 inregistrari",
        infoFiltered:   "(filtrate din _MAX_ inregistrari in total)",
        infoPostFix:    "",
        loadingRecords: "Se incarca datele...",
        zeroRecords:    "Nici o inregistrare de afisat",
        emptyTable:     "Nu exista inregistrari in baza de date",
        paginate: {
            first:      "Prima pagina",
            previous:   "Pagina anterioara",
            next:       "Pagina urmatoare",
            last:       "Ultima pagina"
        },
        aria: {
            sortAscending:  ": activati pentru a sorta coloana în ordine crescatoare",
            sortDescending: ": activati pentru a sorta coloana în ordine descrescatoare"
        },
        select: {
          rows: {
            _: "Ai selectat %d inregistrari",
            1: "Ai selectat 1 inregistrare"
          }
        },
        searchPanes: {
          clearMessage: 'Sterge filtre',
          showMessage: 'Arata toate',
          collapseMessage: 'Ascunde toate',
          collapse: {0: '<i class="fal fa-filter"></i> &nbsp;Filtre', _: '<i class="fas fa-filter"></i> &nbsp;Filtre (%d)'},
          title: {
            _: 'Filtre Selectate - %d',
            0: 'Nici un filtru selectat',
            1: 'Un filtru selectat'
          }
        }
      }
    });
    $('.dt-buttons').removeClass('btn-group');
  });
</script>

