<div class="row">
  <div class="col-lg-6 grid-margin stretch-card mb-0">
    <div class="card">
      <div class="card-body">
        <h1>Importa salarii</h1>
        <%= render 'example_table' %>
        <p>Se poate folosi un fisier Excel(xls sau xlsx) pentru a importa date.
        <p>Poti folosi un tabel exportat din aplicatie(din care stergi ultimul rand - Total) sau poti creea un tabel nou care sa respecte urmatoarele</p>
        <p>Primul rand contine anul pentru care se face importul(ultimele 4 caractere din text). <br>Al doilea rand ar trebui sa contina coloanele<br> Id | Nume angajat | Ian | Feb | Mar | Apr | Mai | Iun | Iul | Aug | Sep | Oct | Nov | Dec <br> Trebuie sa fie toate aceste coloane chiar daca nu exista informatii in ele<br> Nu conteaza ordinea coloanelor <br> Daca exista alte coloane decat cele de mai sus vor fi ignorate</p> 
        <p>Trebuie sa contina urmatoare sheet-uri: Salariu net | Taxe salariu | Bonuri de masa | Bonuri cadou | Ore suplimentare | Salariu extra<br> Daca exista alte sheet-uri decat cele de mai sus vor fi ignorate</p>
        <p>ID-ul este id-ul angajatului si trebuie sa existe pentru a se putea adauga salariile la angajatul corespunzator</p>

          <%= form_for @employee_salary_import do |f| %>
            <% if @employee_salary_import.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@employee_salary_import.errors.count, "eroare", plural: 'erori') %> impiedica aceasta operatiune:</h2>
                <ul>
                <% @employee_salary_import.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <%= f.hidden_field :file, value: "." %>
          <div class="field mb-3">
            <%= f.file_field :file %>
          </div>
          <%= f.submit "Importa", class: "btn btn-warning text-light" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script src=<%= root_url + "data_table_custom_js/employee_salary_imports.js"%>></script>