<div class="login">
  <div class="brand-logo"><%= image_tag 'enocis_negru_150.png', alt: 'Logo' %></div>
  <p class="subtitle">Enterprise Resource Planning</p>
  <br>
  <h1>Ai uitat parola?</h1>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "pt-3"}) do |f| %>
    <p class="notice"><%= notice %></p>
    <p class="alert2"><%= alert %></p>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="form-group">
      <%= f.label "Email" %><br />
      <div class="input-group">
        <div class="input-group-prepend bg-transparent">
          <span class="input-group-text bg-transparent ">
            <i class="ti-email text-primary"></i>
          </span>
        </div>
        <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control form-control-lg border-left-0", placeholder: "Adresa de email" %>
      </div>
    </div>

    <div class="my-2 d-flex justify-content-between align-items-center">
      <% if devise_mapping.rememberable? %>
        <div class="form-check">
          
        </div>
      <% end %>
      <div class="links ml-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>

    <div class="my-3">
      <%= f.submit "Trimite email cu instructiuni de resetare", class: "btn btn-primary btn-lg font-weight-medium auth-form-btn" %>
    </div>
  <% end %>
</div>
