<p id="notice"><%= notice %></p>

<h1>Supplier Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Value</th>
      <th>Paid amount</th>
      <th>Date</th>
      <th>Due date</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_invoices.each do |supplier_invoice| %>
      <tr>
        <td><%= supplier_invoice.number %></td>
        <td><%= supplier_invoice.value %></td>
        <td><%= supplier_invoice.paid_amount %></td>
        <td><%= supplier_invoice.date %></td>
        <td><%= supplier_invoice.due_date %></td>
        <td><%= supplier_invoice.supplier_id %></td>
        <td><%= link_to 'Show', supplier_invoice %></td>
        <td><%= link_to 'Edit', edit_supplier_invoice_path(supplier_invoice) %></td>
        <td><%= link_to 'Destroy', supplier_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier Invoice', new_supplier_invoice_path %>
