<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @supplier_invoice.number %>
</p>

<p>
  <strong>Value:</strong>
  <%= @supplier_invoice.value %>
</p>

<p>
  <strong>Paid amount:</strong>
  <%= @supplier_invoice.paid_amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @supplier_invoice.date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @supplier_invoice.due_date %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @supplier_invoice.supplier_id %>
</p>

<%= link_to 'Edit', edit_supplier_invoice_path(@supplier_invoice) %> |
<%= link_to 'Back', supplier_invoices_path %>
