<h1>Stocuri</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nume</th>
      <th>Observatii</th>
      <th>Ultima modificare</th>
      <th>Data ultimei modificari</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.obs %></td>
        <td><%= @users.find(project.user_id).username %></td>
        <td><%= project.updated_at.strftime('%d/%m/%Y (ora: %H:%M)') %></td>
        <td><%= link_to 'Vezi comenzi', project_path(project, show: 'orders', st: true) %></td>
        <td><%= link_to 'Vezi facturi', project_path(project, show: 'invoices', st: true) %></td>
        <td><%= link_to 'Vezi stoc', project_path(project, st: true) %></td>
        <td><%= link_to 'Modifica', edit_project_path(project, st: true) %></td>
        <td><%= link_to 'Sterge', project_path(project, st: true), method: :delete, data: { confirm: 'Esti sigur ca vrei sa stergi stocul?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adauga stoc', new_project_path(st: true) %>
