<div class="nested-fields col-lg-4 grid-margin stretch-card mb-4">
  <div class="card">
    <div class="card-body">
      <div class="actions text-end">
        <%= link_to_remove_association f do %>
          <i class="fas fa-times text-danger mb-3 fs-4"></i>
        <% end %>
      </div>
      <% months = (1..12).to_a %>
      <% years = (2020..Date.today().strftime("%Y").to_i+10).to_a %>
      <%= @i %>
      <div class="form-group row">
        <%= f.label :amount, "Suma", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.number_field :amount, step: 0.01 ,class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :month, "Luna", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :month, options_for_select(months, f.object.month), {include_blank: true}, {class: "form-control form-control-lg"} %>
        </div>
      </div>
      
      <div class="form-group row mb-0">
        <%= f.label :year, "An", class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :year, options_for_select(years, f.object.year), {include_blank: true}, {class: "form-control form-control-lg"} %>
        </div>
      </div>
    </div>
  </div>
</div>