<div class="nested-fields">
  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :month %>
    <%= f.number_field :month %>
  </div>
  
  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year, placeholder: "an" %>
  </div>

  <div class="actions">
    <%= link_to_remove_association "Sterge", f %>
  </div>
</div>