<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @project_cost.amount %>
</p>

<p>
  <strong>Month:</strong>
  <%= @project_cost.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @project_cost.year %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_cost.project_id %>
</p>

<%= link_to 'Edit', edit_project_cost_path(@project_cost) %> |
<%= link_to 'Back', project_costs_path %>
