<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item <%= 'active' if controller_path=='dashboard' %>">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="far fa-border-all menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            <% end %>
          </li>
          <% proj = Project.find_by(id: params[:id]) if Project.find_by(id: params[:id]) %>
          <% if current_user.admin? %>
            <li class="nav-item <%= 'active' if controller_path=='projects' && (proj==nil || proj.stoc == false) && !params[:st] || controller_path=='project_imports' || (controller_path=='order_imports' && (params[:project] || (params[:order_import] && params[:order_import][:proj_id])) && !(params[:st] || (params[:order_import] && params[:order_import][:st])))  || (controller_path=='invoice_imports' && (params[:project] || (params[:invoice_import] && params[:invoice_import][:proj_id])) && !(params[:st] || (params[:invoice_import] && params[:invoice_import][:st]))) %>">
              <%= link_to projects_path, class: "nav-link" do%>
                <i class="far fa-folder-tree menu-icon"></i>
                <span class="menu-title">Proiecte</span>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if controller_path=='orders' || (controller_path=='order_imports' && !(params[:project] || (params[:order_import] && params[:order_import][:proj_id])))%>">
              <%= link_to orders_path, class: "nav-link" do%>
                <i class="far fa-ballot-check menu-icon"></i>
                <span class="menu-title">Comenzi</span>
              <% end %>
            </li>
            
            <li class="nav-item <%= 'active' if controller_path=='invoices' || (controller_path=='invoice_imports' && !(params[:project] || (params[:invoice_import] && params[:invoice_import][:proj_id]))) %>">
              <%= link_to invoices_path, class: "nav-link" do%>
                <i class="far fa-file-invoice-dollar menu-icon"></i>
                <span class="menu-title">Facturi</span>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if controller_path=='stock' || (proj!=nil && proj.stoc == true) || params[:st] || (params[:order_import] && params[:order_import][:st]) || (params[:invoice_import] && params[:invoice_import][:st]) %>">
              <%= link_to stock_path, class: "nav-link" do%>
                <i class="far fa-layer-group menu-icon"></i>
                <span class="menu-title">Stocuri</span>
              <% end %>
            </li>
            <hr>
            <li class="nav-item <%= 'active' if controller_path=='project_situations' || controller_path=='project_situation_imports' %>">
              <%= link_to project_situations_path, class: "nav-link" do%>
                <i class="far fa-file-chart-line menu-icon"></i>
                <span class="menu-title">Situatie proiecte</span>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if controller_path=='project_costs' || controller_path=='project_cost_imports' %>">
              <%= link_to project_costs_path, class: "nav-link" do%>
                <i class="far fa-coins menu-icon"></i>
                <span class="menu-title">Costuri proiecte</span>
              <% end %>
            </li>
            <li class="nav-item <%= 'active' if controller_path=='indirect_expenses' || controller_path=='expenses' || controller_path=='employees' || controller_path=='expense_imports' || controller_path=='expense_value_imports' || controller_path=='employee_imports' || controller_path=='employee_salary_imports' %>">
              <%= link_to indirect_expenses_path, class: "nav-link" do%>
                <i class="far fa-file-contract menu-icon"></i>
                <span class="menu-title">Cheltuieli indirecte</span>
                <i class="menu-arrow"></i>
              <% end %>
              <div class="collapse <%= 'show' if controller_path=='indirect_expenses' || controller_path=='expenses' || controller_path=='employees' || controller_path=='expense_imports' || controller_path=='expense_value_imports' || controller_path=='employee_imports' || controller_path=='employee_salary_imports' %>" id="indirect_expenses">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <%= link_to employees_path(current_tab: "to"), class: "nav-link" do%>Salariale <% end %></li>
                  <li class="nav-item"> <%= link_to expenses_path(expense_type: :administrative), class: "nav-link" do%>Administrative <% end %></li>
                  <li class="nav-item"> <%= link_to expenses_path(expense_type: :financiare), class: "nav-link" do%>Financiare <% end %></li>
                  <li class="nav-item"> <%= link_to expenses_path(expense_type: :investitii), class: "nav-link" do%>Investitii <% end %></li>
                  <li class="nav-item"> <%= link_to expenses_path(expense_type: :alte_cheltuieli), class: "nav-link" do%>Alte cheltuieli <% end %></li>
                </ul>
              </div>
            </li>
            
            <li class="nav-item <%= 'active' if controller_path=='suppliers' || controller_path=='supplier_imports' %>">
              <%= link_to suppliers_path(current_tab: "fe"), class: "nav-link" do%>
                <i class="far fa-users-class menu-icon"></i>
                <span class="menu-title">Situatie furnizori</span>
              <% end %>
            </li>
            
            <li class="nav-item <%= 'active' if controller_path=='financial_centralization' %>">
              <%= link_to financial_centralization_path(jsid: "", year: Date.today().strftime("%Y")), class: "nav-link" do%>
                <i class="far fa-money-check-alt menu-icon"></i>
                <span class="menu-title">Centralizare financiara</span>
              <% end %>
            </li>
            <hr>
            <li class="nav-item <%= 'active' if controller_path=='cars' || controller_path=='car_imports' %>">
              <%= link_to cars_path, class: "nav-link" do%>
                <i class="far fa-truck-couch menu-icon"></i>
                <span class="menu-title">Flota auto</span>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if controller_path=='users' %>">
              <%= link_to users_path, class: "nav-link" do%>
                <i class="far fa-users menu-icon"></i>
                <span class="menu-title">Utilizatori</span>
              <% end %>
            </li>
            <li class="nav-item <%= 'active' if controller_path=='records' %>">
              <%= link_to records_path, class: "nav-link" do%>
                <i class="far fa-list-ol menu-icon"></i>
                <span class="menu-title">Istoric inregistrari</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>