<!DOCTYPE html>
<html>
  <head>
    <title>Erpenocis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href=<%= root_url + "vendors/feather/feather.css" %>>
    <link rel="stylesheet" href=<%= root_url + "vendors/mdi/css/materialdesignicons.min.css" %>>
    <link rel="stylesheet" href= <%= root_url + "vendors/ti-icons/css/themify-icons.css" %>>
    <link rel="stylesheet" href=<%= root_url + "vendors/css/vendor.bundle.base.css" %>>
    <link rel="stylesheet" href=<%= root_url + "vendors/datatables.net-bs4/dataTables.bootstrap4.css" %>>
    <link rel="stylesheet" href=<%= root_url + "vendors/ti-icons/css/themify-icons.css" %>>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@0ac23ca/css/all.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href=<%= root_url + "images/favicon.png" %>/>
  </head>

  <body>
    <div class="container-scroller">
    <% if current_user %>
      <%= render '/layouts/navbar' %>
        <div class="container-fluid page-body-wrapper <% if !current_user %>full-page-wrapper<% end %>">
          <%= render '/layouts/settings-panel' %>
          <%= render '/layouts/sidebar' %> 
          <div class="main-panel">
    <% end %>
            <div class="content-wrapper <% if !current_user %>d-flex align-items-stretch auth auth-img-bg<% end %>">
            <% if !current_user %>
              <div class="row flex-grow" style="height: 100vh">
                <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div class="auth-form-transparent text-left p-3">
            <% end %>
              <% if current_user %>
                <p class="notice"><%= notice %></p>
                <p class="alert2"><%= alert %></p>
              <% end %>
              <%= yield %>
            <% if !current_user %></div></div><% end %>
            <% if !current_user %>
              <div class="col-lg-6 login-half-bg d-flex flex-row">
                <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright © 2022  All rights reserved.</p>
              </div>
              </div>
            <% end %>
            </div>
    <% if current_user %>
            <%= render '/layouts/footer' %>
        </div>
      </div>
    <% end %>
    </div>
    <script src=<%= root_url + "vendors/js/vendor.bundle.base.js"%>></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src=<%= root_url + "vendors/chart.js/Chart.min.js"%>></script>
    <script src=<%= root_url + "vendors/datatables.net/jquery.dataTables.js"%>></script>
    <script src=<%= root_url + "vendors/datatables.net-bs4/dataTables.bootstrap4.js"%>></script>
    <script src=<%= root_url + "js/dataTables.select.min.js"%>></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src=<%= root_url + "js/off-canvas.js"%>></script>
    <script src=<%= root_url + "js/hoverable-collapse.js"%>></script>
    <script src=<%= root_url + "js/template.js"%>></script>
    <script src=<%= root_url + "js/settings.js"%>></script>
    <script src=<%= root_url + "js/todolist.js"%>></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src=<%= root_url + "js/dashboard.js"%>></script>
    <script src=<%= root_url + "js/Chart.roundedBarCharts.js"%>></script>
    <!-- End custom js for this page-->
  </body>
</html>
