<%= form_with(model: employee_salary) do |form| %>
  <% if employee_salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_salary.errors.count, "error") %> prohibited this employee_salary from being saved:</h2>

      <ul>
        <% employee_salary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.select :employee_id, Employee.all.map {|c| [c.name, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :net_salary %>
    <%= form.number_field :net_salary, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :salary_tax %>
    <%= form.number_field :salary_tax, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :salary_tax_due_date %>
    <%= form.date_select :salary_tax_due_date %>
  </div>

  <div class="field">
    <%= form.label :meal_vouchers %>
    <%= form.number_field :meal_vouchers, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :gift_vouchers %>
    <%= form.number_field :gift_vouchers, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :overtime %>
    <%= form.number_field :overtime, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :extra_salary %>
    <%= form.number_field :extra_salary, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.number_field :month %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
